[2015-01-09 14:01] vhda opened #1 "Disable folding for "extern" functions and tasks"
Must support:
[code]

[2015-01-09 22:21] vhda commented on #1
Fixed in commit e324010dc7b286a65a85bf9e925d6f869362257a.

[2015-01-09 22:21] #1 closed

[2015-02-06 09:33] NicoLugil opened #2 "struct typedef indent"
It seems I can not get the correct indent when I use a struct typedef as below. It for example indents as:

class z;

    typedef struct {
        real a;
    int b;
    int c;
    real d; } ts;
    ts s[];

    int unsigned cnt=0;

    function new();
        super.new();
    endfunction;

endclass;

[2015-02-07 19:00] vhda commented on #2
Thank you for reporting this bug.
Could you please check if indenting is working properly now?
Also report any regression you detect.

[2015-02-09 09:27] NicoLugil commented on #2
Thanks for the fix! It works better now, but there is still one weird thing, if the typedef if preceded by a comment //------

Then I get:

class z;

[code]

ts s[];

typedef struct {
    real a;
    int b;
    int c;
    real d;
} ts2;

ts2 t[];

int unsigned cnt=0;

function new();
    super.new();
endfunction;

endclass

[2015-02-09 09:29] NicoLugil opened #3 "commens containing the 'if' keyword give wrong indentation"
If a comment line contains the 'if' keyword the next line of comments is indented:

// if there is...
     // more comments

[2015-02-09 12:02] vhda commented on #2
The indent code is the part that I least modified from the original code. Allow me to review this issue in more detail.
Also, I foresee various issues in multiline comments (`/* */`) given how the code is currently implemented. I'll look into this at a later time.

[2015-02-09 18:21] vhda commented on #2
This behavior should have been corrected by 120b877311e5836c16033155073413407acecb01.

[2015-02-09 18:22] vhda commented on #3
This behavior should have been corrected by bf98d8b76ac18b10b8d88715d7937746b853509a.

[2015-02-09 19:32] vhda commented on #3
This behavior should have been corrected by eb9a9b49b2f8eb50eed5172d57a93ad543190539.

[2015-02-10 08:54] NicoLugil commented on #2
Thanks! Works fine.

[2015-02-10 08:54] #2 closed

[2015-02-10 08:55] NicoLugil commented on #3
Thanks! Works fine now.

[2015-02-10 08:55] #3 closed

[2015-02-17 07:19] NicoLugil opened #4 "indenting with constraints"
This code does not indent as expected:

[code]

[2015-02-17 07:25] NicoLugil opened #5 "fork join indenting"
fork - join with named begin/end block indenting seems to be broken:

[code]

[2015-02-17 20:13] vhda commented on #4
Had to treat `assert` as an exception.
This special case should be fixed, but other similar situations might still exist.

[2015-02-18 07:14] NicoLugil commented on #4
Thanks for the fix. Works great now!

[2015-02-18 07:17] NicoLugil commented on #5
Does not seem to be related to the naming of the block. E.g. following stuff also indents weird:

[code]

[code]

[2015-02-18 19:20] vhda commented on #5
I've identified the location where this happens, but I need to understand what was its full purpose to guarantee that I do not regress something.
I'm also starting to think that best solution would be to re-write the indentation script from scratch...

[2015-02-19 18:02] vhda commented on #5
Out of curiosity, would you mind testing this [addon](http://vim.sourceforge.net/scripts/script.php?script_id=4743) and see if the indent works better?
At the moment I am not working with SV, so it's more difficult for me to test it myself.

[2015-02-19 18:34] NicoLugil commented on #5
Do you mean putting the content of that projects' indent file into this projects indent file, and see what happens? I could give that a brief try tomorrow.

[2015-02-19 18:53] vhda commented on #5
I was proposing to completely replace the verilog_systemverilog addon with other one.
But your solution should work as well, as long as you properly rename the file :)
Thanks in advance.

[2015-02-20 08:13] NicoLugil commented on #5
I briefly tried it, but it seems to be broken in many places.
Also if you look to the issues of that project, you already see a lot of indent issues.
The indent of this project is I think better quality.

[2015-02-20 08:49] vhda commented on #5
Thanks for testing this for me.

[2015-02-21 23:39] vhda commented on #5
This specific issue should be fixed.
I still need to review the indentation of functions, which is not perfect at the moment, but the fix will require some fundamental changes to the script.

[2015-02-23 10:19] NicoLugil commented on #5
Thanks for the update.

As a minor thing: when there is a space after the begin statement the indenting is not ok, but that is probably another issue.

[2015-02-23 10:19] #5 closed

[2015-02-23 11:22] vhda commented on #5
I already found and fixed the white space issue on my local repository.

[2015-02-27 00:45] ghilton319 opened #6 "Indent bug when a comment is inside module instantiation"
I was trying out your plugin (looks promising). I discovered that comments inside a module instantiation break indenting when there is a line that starts with a comment.

Example: The auto formatting indents the code as following:
<pre><code>`ifdef DO_THIS
	device d1 (
		.port (port[1]),
		// .port2(), comment
		.*
		);
	`endif</code></pre>
Should be:
<pre><code>`ifdef DO_THIS
	device d1 (
		.port

[2015-02-27 12:15] NicoLugil opened #7 "indent after 2 asserts"
this code:

[code]

doesn't indent correctly.

With a single assert it does indent correctly

[2015-02-27 18:51] ghilton319 opened #8 "Missing highlights for some SystemVerlog keywords"
IEEE Std 1800-2005 missing keyword highlighting:

 * unique

IEEE Std 1800-2009 missing keyword highlighting:

* accept_on
* eventually
* global
* implies
* let
* nexttime
* reject_on
* restrict
* s_always
* s_eventually
* s_nexttime
* s_until
* s_until_with
* strong
* sync_accept_on
* sync_reject_on
* unique0
* until
* until_with
* untyped
* weak

IEEE Std 1800-2012 missing keyword highlighting:

[2015-02-27 19:15] ghilton319 opened #9 "Syntax highlighting disappears for 3+ digit time units"
Syntax highlighting disappears for the following examples:

* 100ns
* 2_0ps
* 3_000_000s

[2015-02-28 13:29] vhda commented on #8
Thanks for reporting this issue. This should be fixed now.

[2015-02-28 13:29] #8 closed

[2015-02-28 14:21] vhda commented on #9
Should be ok now.
Thanks for reporting.

[2015-02-28 14:23] vhda commented on #6
Give me some time to analyze this issue in more detail.

[2015-02-28 14:24] vhda commented on #7
Hi Nico,
Apparently my previous fix was not good enough. Give me more time to look into this.
Thanks.

[2015-03-02 00:04] vhda commented on #4
Would the following indentation be acceptable to you?

[code]

[2015-03-02 05:30] NicoLugil commented on #4
Yes that would be fine.

[2015-03-02 10:57] vhda commented on #4
Indenting of assertions should now be correctly implemented.

[2015-03-02 10:57] #4 closed

[2015-03-02 10:57] vhda commented on #7
Indenting of assertions should now be correctly implemented.

[2015-03-02 11:06] NicoLugil commented on #5
Is this included in the latest release?

[2015-03-02 11:06] NicoLugil commented on #7
Thanks for the fix!

[2015-03-02 11:06] #7 closed

[2015-03-02 11:07] vhda commented on #9
Please confirm if it working now.

[2015-03-02 11:12] NicoLugil opened #10 "indent with {} in comment"
It seems when {} is present in a comment, the next line wrongly indented:

[code]

[2015-03-02 11:24] vhda commented on #5
It was lost in a local branch, but I've just cherry-picked it for you :)

[2015-03-02 20:42] ghilton319 commented on #9
`123step` doesn't highlight. However when I look at the LRM, I only see `1step` every being used. Several simulators I have tried give compiling errors with any `\dstep` other than `1step`. In [IEEE Std 1800-2012](http://standards.ieee.org/getieee/1800/download/1800-2012.pdf) Annex A, Formal syntax only lists `1step` as a delay unit. I'm not sure if any `step` other then `1step` should be legal.

[2015-03-02 20:44] vhda commented on #9
I confirm the `1step` case. In fact, I have the fix prepared on a separate regular expression optimization commit where I replaced the match with a keyword.

I'll take a look at the `1.2.3` case, though. Should have thought about that yesterday! :)

[2015-03-02 21:16] vhda commented on #9
You will still see the `1.2.3` highlighted, but if you look carefully you'll see that it is identified as two separate number. I've considered the possibility of trying to avoid this, but I think the extra complexity in the syntax highlight might not be worth the effort. This is specially true if one considers the extra processing time of the regular expression in bigger files.

[2015-03-02 21:30] ghilton319 commented on #9
Thanks for confirming `1step`.
I assumed `1.2.3` was identified as two separate numbers as well. I agree, the extra complexity in the syntax highlight might not be worth the effort. Probably something the core vim syntax detection should handle.
Thanks for the fix.

[2015-03-02 21:30] #9 closed

[2015-03-02 22:05] vhda commented on #9
Forgot to mention that I included the `1step` fix, but I guess you noticed it ;)

[2015-03-02 23:26] ghilton319 opened #11 "# moves to column 0 if smartindent is enabled"
I noticed that when stating a new line with `#` and smartindent is enabled, the line will un-indent back to column 0. Formatting with `==` or `gg=V` corrected the indenting, but the extra step is not desired.

Poking around the vim documentation I found [this](http://vimdoc.sourceforge.net/htmldoc/options.html#%27smartindent%27):

Adding `au FileType verilog_systemverilog inoremap # X^H#` to my `~

[2015-03-03 10:56] NicoLugil opened #12 "indent issue when {} in macro"
The following indents incorrectly:

[code]

[2015-03-03 21:32] vhda commented on #11
I don't think you should be using `smartindent` in Verilog/SystemVerilog.
What are you trying to accomplish that is not done already by `autoindent`?

[2015-03-04 00:43] vhda commented on #11
[This](http://vim.wikia.com/wiki/Indenting_source_code) is an interesting read, in particular section [File-type based indentation](http://vim.wikia.com/wiki/Indenting_source_code#File-type_based_indentation).

[2015-03-04 18:50] vhda commented on #6
This should now be fixed.

[2015-03-04 18:55] vhda commented on #10
This should now be fixed.

[2015-03-04 19:04] vhda commented on #12
This should now be fixed.

[2015-03-04 20:30] ghilton319 commented on #6
The `// .port2(), comment` and `/*comment*/ .port(),` is fixed. I'm still seeing the issue with multi-line comments (`/* \n */`). Examples:

[code]

and

[code]

[2015-03-04 22:01] vhda commented on #6
Issues with multi line comments, at the moment, are very difficult to fix because code only looks at 2 to 3 lines individually.

In the future I intend to use syntax regions to identify if lines are inside a multi line comment.

[2015-03-04 22:21] ghilton319 commented on #11
`smartindent` was enabled for some non-Verilog/SystemVerilog files. For want ever reason it is as a global and not a specific file time; I inherited the .vimrc file. I'm not exactly sure what file types need `smartindent`. I other users that point to the same file so I'm less inclined to make a global change without knowing the impact.

Yes, can can easily fix my local .vimrc. I not know how commo

[2015-03-05 09:06] NicoLugil commented on #12
Checked and OK!

[2015-03-05 09:06] #12 closed

[2015-03-05 09:06] NicoLugil commented on #10
Checked and OK!

[2015-03-05 09:06] #10 closed

[2015-03-05 09:52] vhda commented on #11
What if I raise a warning/error when loading this plugin if `smartindent` is defined?

[2015-03-05 10:57] NicoLugil opened #14 "pure virtual functions indent wrong"
This does not indent correctly:

[code]

[2015-03-05 12:12] vhda commented on #14
Please try now.

[2015-03-05 17:58] ghilton319 commented on #11
Raising a warning is a good idea. Error should only be if it breaks something and that is not this case.

[2015-03-05 18:43] vhda commented on #11
Ok, I'll implement this as soon as I have some time :)

[2015-03-06 08:36] NicoLugil commented on #14
I dont know if this is new or was already like that but it seems all extern and pure virtual functions are now no longer indented in their class:

[code]

[2015-03-06 10:44] vhda commented on #14
I screwed up in the last fix. Sorry about that.

[2015-03-07 21:49] vhda commented on #14
If you have any problems updating the plugin please reinstall it. Sorry about that.

[2015-03-07 21:49] vhda commented on #11
If you have any problems updating the plugin please reinstall it. Sorry about that.

[2015-03-08 07:17] NicoLugil commented on #14
I can not try right now, but would there be a particular reason for that?
So far I have always just downloaded and extracted the zip.

[2015-03-08 12:26] vhda commented on #14
I was assuming that you were using a plugin manager like Vundle or Pathogen. But in your case there is no problem.

[2015-03-09 19:35] ghilton319 commented on #11
Did you implant the warning or accidentally comment on the wrong issue? I don't see a behavior change.

[2015-03-09 19:37] vhda commented on #11
I still did not work on that.
But I was forced to re-write the complete git history of the project and used this issue as a way of alerting of that.

[2015-03-09 23:26] vhda commented on #11
Could you please check if the warning message is working correctly on your side?

[2015-03-09 23:28] vhda commented on #14
BTW, I hope this issue is now fixed. Could you please confirm?

[2015-03-10 08:35] NicoLugil commented on #14
Yes this works fine! Thanks!

[2015-03-10 08:35] #14 closed

[2015-03-11 17:10] ghilton319 commented on #11
Interesting. The warning does not show up when I first open vim with a file (ex `% vim test.sv`) but does when I open or switch between files within vim (ex: `:e other.sv` , `:b test.sv`).

[2015-03-11 17:14] vhda commented on #11
Is it possible that you are setting `'smartindent'` through an `autocmd`?

[2015-03-11 18:03] ghilton319 commented on #11
I'm not using `autocmd`. I used `set si` im my local `.vimrc`. If I commenting it out then I don't get the warning, so nothing else is enabling `smartindent`.

To eval, I simplified my `.vimrc` to as bellow and my `~/.vim` only contains this project without modifications. Something might be suppressing the warning on first open. Not sure how. I get the same behavior if I run vim with absolute path

[2015-03-11 19:14] vhda commented on #11
Found it!
Have to force a `:redraw` to guarantee that the message is correctly displayed during startup. Just hope I'm not abusing this command...
I'll submit the fix shortly.

[2015-03-11 20:21] vhda commented on #11
Please try now.

[2015-03-12 16:01] NicoLugil opened #15 "assert with else clause on next line indent"
This indents not as expected:

[code]

[2015-03-12 16:04] NicoLugil commented on #15
Actually with the else clause on the same line it also does something weird:

[code]

[2015-03-12 20:52] ghilton319 commented on #11
I see the warning when starting vim with a systemverilog file now. thanks.

[2015-03-12 20:52] #11 closed

[2015-03-13 13:55] NicoLugil commented on #15
I am not sure this is easy to solve, but I often use a define for assertions, would be great if that would also indent correctly:

[code]

[2015-03-24 19:45] vhda commented on #15
First part should be fixed.
Second one is tricky... so give me a bit more time to look into it.

[2015-03-25 13:30] NicoLugil commented on #15
I can confirm the first thing is working now! Thanks!

[2015-04-17 17:16] rrodr opened #16 "Is it working with vim 7.3?"
Check vim7.3 compatibility.

thanks :)

[2015-04-17 18:15] vhda commented on #15
Could you please check the second part?

[2015-04-17 18:15] vhda commented on #16
Please check now.

[2015-06-17 11:39] NicoLugil opened #17 "indentation with single line if"
The following if without begin/end stays indented for more than 1 line:

function void sink_driver::build_phase(uvm_phase phase);
    if (!uvm_config_db #(sink_agent_config)::get(this, "", "sink_agent_config", m_cfg) )
        `uvm_fatal("CONFIG_LOAD", "Cannot get() configuration sink_agent_config from uvm_config_db. Have you set() it?")
        // OK to do this herE>
        foreach(rand_bool_gen

[2015-06-22 12:38] vhda commented on #17
Should work properly now.

[2015-06-22 12:44] NicoLugil commented on #17
Thanks works great!

[2015-06-22 12:44] #17 closed

[2015-06-22 12:52] #16 closed

[2015-08-21 12:11] NicoLugil commented on #15
Yes seems to work fine! Thanks

[2015-08-21 12:11] #15 closed

[2015-08-21 12:14] NicoLugil opened #20 "virtual functions indent"
This code indents incorrectly:

class x;
    virtual function void pack(ref bit[W-1:0] out);
    $display("hi");
endfunction
function void y();
endfunction
endclass

when removing the virtual keyword it is ok.

[2015-08-21 13:46] vhda commented on #20
Try now.

[2015-08-21 13:57] NicoLugil commented on #20
Perfect! What a quick fix :+1:

[2015-08-21 13:57] #20 closed

[2015-08-21 14:01] vhda commented on #20
If you look at the diff you can see it was pretty straight forwards ;)
Keep them coming!

[2015-09-30 12:03] NicoLugil opened #22 "multi-line comments indenting"
[code]

does not indent correctly.

[2015-10-28 11:14] lewis6991 opened #23 "OmniComplete doesn't work"
Looks to me like there a syntax error in the omni complete function. When I try to use omni, vim gives me the following error:
[code]

File used on:
[code]

[2015-10-28 11:59] vhda commented on #23
I've just pushed the fix in https://github.com/vhda/verilog_systemverilog.vim/commit/600a102b05e53091462926874c9559014657d7bc, which was laying around in my work repository.

Please confirm if it fixes your issue.

[2015-10-28 12:03] vhda commented on #22
This issue is not forgotten.

[2015-10-28 13:44] lewis6991 commented on #23
I made the same change myself and confirm does work.

[2015-10-28 13:59] #23 closed

[2015-10-28 14:07] vhda commented on #23
Perfect!
I am aware that omni-completion still has some limitations, so feel free to submit enhancement requests for features you would find important.
Pull Requests are also welcome :)

[2015-10-29 11:41] lewis6991 opened #25 "How do you enable and view the verbose logging?"
I'm trying to enable the verbose logging for the omni-completion script. Could someone tell me the flow for doing this? I'm fairly new to vimscript so assume I know nothing.

Thanks

[2015-10-29 11:47] vhda commented on #25
Verbose "logging" is enabled with `:let b:verilog_omni_verbose`.
The messages are printed through `echom` command, which means that they are not displayed directly in the screen. To view the messages run `:messages`.

Check `:help :echom` and `:help :messages` for more information.

[2015-10-29 11:58] lewis6991 commented on #25
Thanks

[2015-10-29 11:58] #25 closed

[2015-10-30 17:40] lewis6991 opened #29 "Folding does not work for nested classes"
The following does not work:

[code]

Any idea on how this can be fixed?

[2015-10-30 17:54] vhda commented on #29
The "block" syntax folding supports nested folding.
From what I can see (because I no longer remembered) it should be just a matter of removing the `keepend` option from the "class" folding.

[2015-10-30 17:58] vhda commented on #29
Fixed in https://github.com/vhda/verilog_systemverilog.vim/commit/90c9ba8df568b00c6e98c0370a11fa4648f304b7

[2015-10-30 18:07] #29 closed

[2015-10-30 23:10] lewis6991 opened #31 "Testing folds"
Is there any way of automatically testing folds or is it done manually at this point. If it's manual then I think I have a way of testing it automatically.

[2015-10-30 23:23] vhda commented on #31
It's all tested manually.
In fact, even today I asked a question in stackexchange asking for ideas on how to test omni completion automatically.
For indenting a simple ex command should be sufficient, but I still did not look into that.

[2015-10-30 23:46] lewis6991 commented on #31
Check out 64db1a1b8561d416568525b174b426b88efb26bd and tell me what you think? It isn't perfect but it's better than nothing.

[2015-10-31 18:24] vhda commented on #31
The only other alternative I can think of would be to use FastFold plugin and `:mkview`.
But your solution is more maintainable in my opinion.

[2015-10-31 23:23] lewis6991 commented on #31
I just conjured up this.

[code]

Running this with 8129166a7438606b0adb3cfc064a678e87a00609 will cause the exit code to match the result of the test.

[2015-11-02 17:44] lewis6991 opened #32 "Folds not working properly on some if statements"
The following does not properly fold:

[code]
And further folds even worse:
[code]

[2015-11-02 18:20] vhda commented on #31
Please check my [travis](https://github.com/vhda/verilog_systemverilog.vim/tree/travis) branch, which was built on top of your commit.
This is the [result](https://travis-ci.org/vhda/verilog_systemverilog.vim/builds/88816877).
I still want to re-review everything to see if there are any optimizations that can be done.

[2015-11-03 11:23] lewis6991 commented on #31
Very nice. I've never used travis-ci before. Can it run from command line or does it require being used in the browser? What kind of optimizations do you mean, to the test or the travis infrastructure?

[2015-11-04 15:36] vhda commented on #31
travis-ci is a automatic regression service. Whenever a new commit us pushed into the repository or a Pull Request is created it will run all the test cases and display the result.

By "optimizations" I meant some code reorganization and improvement of this plugin's test infrastructure. You should now be able to see what (I hope) is the final structure.

[2015-11-05 18:34] vhda commented on #31
I think that this issue is resolved.
Feel free to reopen if if you feel otherwise.

Thanks for providing this idea and create the Vim script that is fundamental for this to work.

[2015-11-05 18:34] #31 closed

[2015-11-09 17:21] vhda commented on #22
I expect this issue to be fixed in the latest version.

[2015-11-09 20:57] vhda commented on #32
Please check my new branch `syntax/advanced-block-folding`, which includes the following commit: https://github.com/vhda/verilog_systemverilog.vim/commit/efed0a0ec94cd95137e2129d0932c00a94204b30.
This makes the folding test fail because of a small difference in how the end of the blocks is determined, but up until now I was not able to find any better solution. Any suggestions are welcome!

If thi

[2015-11-09 21:46] lewis6991 commented on #32
This commit really messes with the indenting.

[2015-11-09 22:36] lewis6991 commented on #32
I just took a look at the folding behaviour for similar constructs in other languages (c, c++, java) and none of then have a good solution to this. I have a feeling there may not be a good (if any) solution to this and maybe it might be best to just stick with the old behaviour. As long as the you put `end` on its own line, everything works fine.

[2015-11-10 12:35] NicoLugil commented on #22
Yes fixed! Thanks!

[2015-11-10 12:35] #22 closed

[2015-11-11 14:34] lewis6991 opened #41 "Indent script does not work well with uvm macros"
Because the indent script uses ```);``` to determine indents, uvm macros don't indent properly.

For those who do not know, UVM is an infrastructure/library for SystemVerilog to provide a structured verification methodology. UVM uses `define macros heavily. For example the error reporting macro is:
[code]
The awkward thing about these macros is they do not require a ```;``` at the end of them and

[2015-11-13 18:29] vhda opened #42 "Improve syntax performance"
This issue has the purpose of tracking any reported syntax performance issues.
New issues should be added as a comment and I will update the list accordingly.
Please provide example code whenever possible.

- [x] Poor performance in when there is a fold that occupies the complete file - Vim limitation, can be overcome using [FastFold](https://github.com/Konfekt/FastFold) plugin.

[2015-11-17 14:12] vhda commented on #41
I've included a section to the indent test containing the code that you provided and it appears to be correct. Could you please review this issue and provide an example that makes indenting fail?

Thanks!

[2015-11-17 14:52] vhda commented on #32
This behavior can be improved by adding "block_nested" string to `g:verilog_syntax_fold` option.

[2015-11-17 14:52] #32 closed

[2015-11-17 18:03] lewis6991 commented on #41
The problem I have is when a following statement does not de-indent when a macro follows an `else` on the same line. Examples are:

[code]

[2015-11-17 18:15] lewis6991 opened #43 "Indenting does not work well when implementing interface classes"
More specifically; indenting doesn't work as desired if implementing from multiple interface classes and placing each interface on its own line. Example in question:
[code]

Preferably I would like the indentation to be as the following (if possible):
[code]

[2015-11-24 13:47] vhda commented on #42
Slower syntax elements:

* `verilogLabel`
* `verilogMethod`
* `verilogObject`

[2015-11-24 17:16] vhda opened #44 "Add Vim help file"

[2016-01-21 00:06] xguerin opened #49 "Odd indentation when using vlog 2001 parameterized instantiation/declaration"
What should be:

[code]

is indented as follows:

[code]

And throws off all subsequent indentation. The same goes with instantiation:

[code]
is indented as follows:

[code]

[2016-01-21 08:51] lewis6991 commented on #49
This should be fixed in https://github.com/vhda/verilog_systemverilog.vim/pull/48 which is still under review. It is a complete rewrite of the indent script which addresses a lot of issues with the current.

If you could test the new script then that would be much appreciated: https://github.com/lewis6991/verilog_systemverilog.vim

[2016-01-21 14:48] xguerin commented on #49
It seems to be working like a charm, except maybe for expression that span over multiple lines, like this one:

[code]

If I split that line in two (at the || statement for instance), it is indented as follows:

[code]

Instead of:

[code]

[2016-01-21 19:03] lewis6991 commented on #49
Thanks for reporting this. The indenting can get a bit unpredictable if the code isn't wrapped inside a context block, e.g. `begin end`, `function endfunction`.

The indent is designed to be as:

[code]

I'll try to get that fixed soon.

To produce the indent you specified would be quite difficult to implement reliably. However I would like to eventually add that feature, but probably not in the n

[2016-01-21 19:17] vhda commented on #49
Carefull, you have different possibilities:

[code]

or:

[code]

So you need to look at what is in front of the `=`sign.

[2016-01-21 20:03] lewis6991 commented on #49
Exactly. Quite difficult to get right. Currently the script is designed to indent as the latter.

[2016-01-22 14:13] vhda opened #50 "Omni-completion does not work in non-hierarchical references"
Given the following example:

[code]

When pressing <tab> inside the function port list will not work as expected. This happens because the qualified output of ctags is the following:

[code]

So `f.a` is only available in the context `top`.

For this reason the omni-completion script must determine the current context before searching for tags, such that it can search for `top.f.*` instead of `f.

[2016-02-03 20:01] xguerin opened #51 "Wrong indentation with single-line case statements"
In the following situation:

[code]

the automatic indenting gives the result below:

[code]

[2016-02-03 20:19] lewis6991 commented on #51
Its because the begin and end are on the same line. Is there any reason you are writing the case statement in this style? The begin and end's are redundant.

[2016-02-03 20:25] xguerin commented on #51
Yes, it actually makes register mapping a bit more readable. Another type of issue arises when I skip begin and end:

[code]

is formatted :

[code]

or, within a process:

[code]

[2016-02-03 21:51] lewis6991 commented on #51
I'm still not convinced about the `begin statement(); end` style. Im my opinion it should be avoided and discouraged. An older version of the new script did support this style, however I removed this at the benefit of better performance. In the future I will review whether adding this back effects performance and If it doesn't I'll change it back.

The other issue on the other hand was a different

[2016-02-03 22:02] xguerin commented on #51
I don't mind adapting the code. Thanks for looking into it.

[2016-02-10 03:00] xguerin opened #52 ".v files detected as verilog"
Sorry for the n00b question, but I just realized that my .v files are still recognized as "verilog" files and not  "verilog_systemverilog". Any reason why the default filetype file would take precedence ?

[2016-02-10 09:13] vhda commented on #52
What does `:verbose set filetype` return?

[2016-02-10 12:41] xguerin commented on #52
filetype=verilog
        Last set from /usr/share/vim/vim74/filetype.vim

[2016-02-10 13:41] vhda commented on #52
What about `:autocmd * *.v`?

[2016-02-10 14:20] xguerin commented on #52
[code]

I don't have any particular au in my rc.

[2016-02-10 14:42] vhda commented on #52
Could you show me the contents of `ftdetect/verilog_systemverilog.vim` in your installation?

[2016-02-10 14:43] xguerin commented on #52
[code]

[2016-02-10 15:08] vhda commented on #52
As you may have noticed, `filetype` is set through auto-commands. You have the original auto-command as defined in `/usr/share/vim/vim74/filetype.vim` **and** the one set by this plugin. In my environment I only get:

[code]

And this happens even when I don't load my vimrc, so it shouldn't be related with any of my configurations.

What vim version are you running?

Could you also try the followi

[2016-02-10 15:54] xguerin commented on #52
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Aug 20 2015 10:38:14)

[code]

[2016-02-10 17:08] vhda commented on #52
What is the "Included patches" range?

[2016-02-10 19:17] xguerin commented on #52
Included patches: 1-207, 209-801, 803-808, 810-827

I tried with vim's HEAD, same result.

[2016-02-10 19:40] xguerin commented on #52
Ok, I found the problem. It's not even remotely related to this plugin. It's an issue with how "Plug" enable its plugins. Thanks for the help and sorry for the troubles !

[2016-02-10 19:40] vhda commented on #52
Just compiled vim from source and am still unable to replicate that behavior.

Are you 100% you followed the 5 steps above? According to `:help autocmd-remove` the line

[code]

should remove any existing auto commands associated with those patterns and add the new one isolated.

[2016-02-10 19:41] vhda commented on #52
I'm also using vim-plug... could you please provide more information, just in case I (or anyone else) has the same problem?

[2016-02-10 19:44] xguerin commented on #52
Sure. The culprit is that the plugin must be force-enabled like this:

[code]

If not, for some reason the filetypes are not taken into account. **Edit**: now that I think more about it, there must be an underlying reason why the file type is not properly recognized, but force-enabling it solves the problem.

Also, for those using indenline, indentline **must** be loaded first:

[code]

[2016-02-10 20:07] vhda commented on #52
Could I kindly ask you to comment out all plugins except for verilog_systemverilog.vim? Also, please remove the `{ 'for': ...}` part.

[2016-02-10 20:15] xguerin commented on #52
Sure:

[code]

[2016-02-10 22:13] lewis6991 commented on #52
I failed to reproduce this issue with the following vimrc:

[code]

I also ran `PlugClean` and checked my `~/.vim` directory only contained `vim-plug` and `verilog_systemverilog`. My version of vim is macvim 7.4.1265.

[2016-02-10 23:38] xguerin commented on #52
It works fine with a clean ~/.vim :

[code]

I'll try to clean-up my own ~/.vim directory.

[2016-02-12 11:10] vhda commented on #52
@xguerin I'm curious to which file in your .vim folder was the culprit. Any news?

[2016-02-12 11:29] vhda commented on #43
Fixed in PR #48 by yourself :)

[2016-02-12 11:29] #43 closed

[2016-02-12 11:30] vhda commented on #41
Fixed in #48 by yourself.

[2016-02-12 11:30] #41 closed

[2016-02-12 11:35] vhda commented on #49
Partially fixed by PR #48.
Still missing the assignment indentation.

[2016-02-13 20:41] vhda commented on #49
PR #53 should fix the assignments, allowing us to close this issue.

[2016-02-15 14:21] vhda opened #55 "Allow indentation inside class, interface, etc"
The option `b:verilog_indent_modules` allows having the code indented inside modules, but there is no such option for class, interface, etc. There should exist a new option that allows this, preferably something that allows configuration of which elements to indent, like is done with `g:verilog_syntax_fold`.

[2016-02-15 16:00] vhda commented on #49
Fixed in PR #53

[2016-02-15 16:01] vhda commented on #49
Fixed in #53

[2016-02-15 16:01] #49 closed

[2016-02-15 16:02] vhda commented on #52
@xguerin ? :)

[2016-02-15 16:02] lewis6991 commented on #6
Is this not fixed now?

[2016-02-15 16:03] xguerin commented on #52
Sorry, I haven't had much time to delve into that yet. I'll try to get to it shortly and I'll keep you posted

[2016-02-15 16:13] vhda commented on #51
@lewis6991 I am unable to replicate the second situation in my current master branch. You did not include the case-sensitive fix in the PR, correct?

[2016-02-15 16:17] lewis6991 commented on #51
That is correct.

[2016-02-15 16:19] vhda commented on #6
Just included more code from this issue in our test file.

Yes, everything appears to be correct! :)

[2016-02-15 16:19] #6 closed

[2016-02-15 16:19] lewis6991 commented on #51
The reason you cannot replicate is because you probably don't have `set ignorecase` in your vimrc.

Having this set changes the behaviour of the plugin. My commit for this was to change this option and restore it at the end of indenting.

[2016-02-15 16:20] vhda commented on #6
@lewis6991 Thanks once again for this great addition to **our** addon!

[2016-02-15 16:21] lewis6991 commented on #6
Your very welcome. :)

[2016-02-15 16:23] vhda commented on #51
Understood. Let me think about this for some a day or two.

[2016-02-15 16:27] lewis6991 commented on #51
The only other solution I can think of is to have `\C` in every regex which I think would be a bit of a pain.

[2016-02-15 16:31] vhda commented on #51
That's not the problem.

Try the exact same test case as above, but replace `"End"` with `"end"`. I'm almost 100% sure that it will be incorrectly indented even with you case-insensitive fix.

We need to filter out strings. Maybe by doing something like we're doing for comments: we just strip them out from the input before parsing?

[2016-02-15 16:36] vhda commented on #51
Just submitted some more changes. Please check them.

Could you take a look at the `"end"` issue for me? I can't invest more time in this for today :)

[2016-02-15 16:42] lewis6991 commented on #51
Stripping out strings may be the best solution. I'm just a little worried about performance.

[2016-02-15 16:51] lewis6991 commented on #51
Feel free to assign to me. I'll check it out when I get some time.

[2016-02-15 16:55] vhda commented on #51
I was trying to!!! For some reason you don't appear in the list!

[2016-02-15 16:57] lewis6991 commented on #51
Is it because it is your personal repo and not an organisation?

[2016-02-15 17:03] vhda commented on #51
Let me try this: @lewis6991

[2016-02-15 17:05] vhda commented on #51
Dumb me: https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/

"You can only create assignments for yourself, collaborators on personal projects, or members of your organization with read permissions on the repository."

[2016-02-18 16:36] lewis6991 commented on #51
Fixed in https://github.com/vhda/verilog_systemverilog.vim/commit/7d83a3e5ebf20ac6e3b7cbcc8e5890c7450ad1a8

[2016-02-18 16:36] #51 closed

[2016-02-18 17:02] vhda commented on #51
Nice! Thanks.

[2016-02-18 18:10] lewis6991 commented on #51
Hope you don't mind me making commits like this without PR'ing them.

[2016-02-18 18:18] vhda commented on #51
I don't mind, but I don't think that's the best workflow.

Now that I have a collaborator I'm considering starting to PR my own commits, giving us the opportunity to review and discuss the changes before submitting. Hopefully, this will result in better and more feature complete code.

[2016-02-18 18:21] lewis6991 commented on #51
I agree. I only pushed the commits today as I felt they were fairly trivial and small. I'll put future ones in a PR.

[2016-02-18 18:50] vhda commented on #51
Will do the same.

[2016-02-19 17:42] SiliconKite opened #56 "allow folding of module instances"
Hello,

Currently it is possible to fold a number of constructs but as far as I know it is not possible to fold the text where verilog modules are being instantiated.

Would you consider this request?

Thanks anyway for the awesome plugin!

[2016-02-19 18:23] lewis6991 commented on #56
I would like this too. We'll add it to our todo list. ;)

[2016-02-19 18:32] vhda commented on #56
Just did a quick test and as far as I can see we can't use `);` as an end pattern for syntax folding.

So, I think this is not going to be implementable unless we re-write all folding into a new `foldexpr` function.

[2016-02-19 18:36] lewis6991 commented on #56
Whats preventing `);` from being an end pattern?

[2016-02-19 18:43] vhda commented on #56
Wait... the problem was in a missing `keepend` flag! :)

[2016-02-19 19:12] vhda commented on #56
@lewis6991 what do you think of #57?

[2016-02-19 19:23] lewis6991 commented on #56
Would this break it?
[code]

[2016-02-19 19:29] vhda commented on #56
Yes, it does.

[2016-02-19 19:31] vhda commented on #56
Updated.

[2016-02-23 10:36] #56 closed

[2016-02-23 10:38] vhda commented on #56
@SiliconKite please note that the module declaration must contain a `(` or `#(` in the same line. As such the following will not fold:

[code]

[2016-02-23 10:42] kiteloopdesign commented on #56
Wow, this is some serious quick resolution!
Thanks a mill, guys :)

[2016-02-23 16:52] vhda opened #61 "Review and update all variables"
Review all variables in regards to consistency and functionality:

1. Decide if variable should be buffer local or global.
2. Decide if variable is still necessary.

Allow for breaking backward compatibility. Note: add warning to README.md.

Checklist (to be updated until release 3.0):
 - [x] Drop b:verilog_indent_modules
 - [x] Drop b:verilog_indent_preproc

[2016-02-23 18:02] lewis6991 opened #62 "No indentation for generate blocks."
Currently the indent script has no support for indenting code inside generate blocks.

[2016-02-24 15:11] vhda opened #63 "Syntax highlight is wrong inside named and nested blocks"
When `g:verilog_syntax_fold` is set to "block_named" and "block_nested" any word without a specific syntax defined for it is set to "verilogStatement" (same highlight as "begin" and "end").

[2016-02-27 03:00] vhda commented on #52
Any updates?

[2016-02-29 13:27] lewis6991 opened #64 "Assignment indentation bug."
Found an edge case that breaks the indentation script.

[code]

Pretty sure it is the `==` causing the issue.

[2016-02-29 14:57] vhda commented on #64
Even after all those checks around `=`? _Argh_! :)

[2016-02-29 17:55] #64 closed

[2016-03-04 09:56] NicoLugil opened #68 "module not indenting?"
I am hesitant to submit this issue as this pretty basic, and might be an error in my side.

[code]

The content of the module does not seem to be indented?

[2016-03-04 10:18] lewis6991 commented on #68
Try adding this to your vimrc.

[code]

[2016-03-04 12:27] NicoLugil commented on #68
yes this does the trick! Why isn't this default?

[2016-03-04 14:20] vhda commented on #68
There is a common rule that requires a single module declaration per file. When such rule is respected there is no gain in indenting the entire module: it starts in the first line and ends at the last line of the file.

This is specially relevant when using `shiftwidth=4/8` and `textwidth=80`, where available space becomes quite small.

The behavior was also the default in the original verilog_sys

[2016-03-04 23:20] #68 closed

[2016-03-04 23:22] NicoLugil opened #69 "generic interface reference doesnt indent correctly"
[code]

[2016-03-05 00:02] lewis6991 commented on #69
I've completely overlooked this. Good catch! The script is probably seeing the keyword `interface` and indenting from that.

[2016-03-08 10:37] lewis6991 opened #70 "Incorrect indentation of multi-line condition."
[code]

[2016-03-08 11:45] vhda commented on #70
Let me also include the following scenario in this issue:

[code]

[2016-03-08 19:00] vhda commented on #70
Could you please @lewis6991? I'm trying to fix the "block_named" and "block_nested" folding, which have some highlight issues.

[2016-03-09 08:47] lewis6991 commented on #70
No problem. I probably won't get around to it for a while though. The scenario you found looks like it will be a pain to fix. What would be correct indentation for it anyway?

[2016-03-09 23:08] vhda commented on #70
I'm open to suggestions, but in my opinion we should keep it indented as I pasted it above.

We could try to be smarter in regards to this indentation, but let's keep it simple for now.

[2016-03-11 14:44] lewis6991 opened #71 "Multi line assignment issue"
[code]

[2016-03-14 15:19] lewis6991 opened #72 "Return assignment issue"
[code]
Should be:
[code]

[2016-04-07 07:49] vhda commented on #61
Check https://github.com/vhda/verilog_systemverilog.vim/commit/b4ced5958aaf26f27f2208fd71629721091d3e08

[2016-04-09 15:19] lewis6991 commented on #55
Added in a9dac32a2df51cdc2912f0bde48f8fe65090548f

[2016-04-09 15:19] #55 closed

[2016-04-09 15:21] lewis6991 commented on #70
I think the indentation for the above should be:

[code]

[2016-04-11 10:33] vhda commented on #70
I agree, that makes more sense than what I proposed.

[2016-04-11 15:29] lewis6991 commented on #62
Fixed in #75

[2016-04-11 15:29] #62 closed

[2016-04-11 15:30] lewis6991 commented on #71
Fixed in #77

[2016-04-11 15:30] #71 closed

[2016-04-12 17:25] vhda opened #79 "Consider supporting Syntastic"
The [Syntastic](https://github.com/scrooloose/syntastic/) is a popular syntax checking plugin for Vim. This plugin is extensible and allow for other plugins to add their own parsers and/or syntax checkers, as is explained in their [Syntax Checker Guide](https://github.com/scrooloose/syntastic/wiki/Syntax-Checker-Guide).

At the moment verilog_systemverilog.vim includes internally defined errorform

[2016-04-13 10:49] lewis6991 commented on #72
Fixed in #73

[2016-04-13 10:49] #72 closed

[2016-04-21 13:20] lewis6991 opened #80 "Keyword in block comment"
[code]

[2016-04-21 13:22] lewis6991 opened #81 "Expressions inside assertions"
[code]

[2016-04-21 18:15] lewis6991 commented on #80
Fixed in #82

[2016-04-21 18:15] #80 closed

[2016-04-21 18:26] vhda commented on #69
Fixed in #74

[2016-04-22 07:42] lewis6991 commented on #69
@NicoLugil would you be able to verify this fix for us? You just need to update to the newest version.

[2016-04-22 12:33] NicoLugil commented on #69
Yes this works fine now! Thanks!

[2016-04-22 12:33] #69 closed

[2016-04-25 13:28] lewis6991 commented on #81
Fixed in #83

[2016-04-25 13:28] #81 closed

[2016-04-27 08:56] lewis6991 opened #84 "Last line of conditional assignment"
Current indent behaviour:
[code]
Proposed indent behaviour:
[code]

@vhda, what do you think about this.

[2016-04-27 09:32] vhda commented on #84
Personally I like it. But I propose that we add an option for it because it's possible that this goes against some coding guidelines.

[2016-04-27 12:24] lewis6991 commented on #84
I agree. Lets add it to `g:verilog_disable_indent` as `conditional`.

[2016-04-27 13:08] vhda commented on #84
That's not ideal. For example, the coding guidelines I use require the assignment indentation but don't include the extra indentation you are now proposing. I can always manually delete the extra indent, but I would prefer a second variable.

(Sorry for the extra work)

[2016-04-27 13:52] lewis6991 commented on #84
I'm proposing that `g:verilog_disable_indent='conditional'` simple disables the indent I want to implement, not assignment indents. The current behaviour makes no extra effort for conditionals.

Its important to differentiate the difference between `assignments` and `conditional assignments`.

[2016-04-27 14:09] vhda commented on #84
I misunderstood what you said. That seems perfect.

(I have a release this week... so I'm not really focused here, sorry).

[2016-04-27 15:53] vhda commented on #84
Just looking at bad code: take into account nested conditionals.

[2016-04-27 15:54] lewis6991 commented on #84
Example?

[2016-04-28 09:54] vhda commented on #84
@lewis6991 I'm really sorry. Again, I did not look at this closely enough. Your original example already included nested conditionals. Hopefully, starting next week I'll be a bit more focused.

[2016-04-29 09:55] lewis6991 opened #85 "Add support for implication operators."
Current behaviour:
[code]
Proposed:
[code]

[2016-04-29 09:55] lewis6991 commented on #84
No worries :)

[2016-05-02 15:14] lewis6991 commented on #85
fixed in #86

[2016-05-02 15:14] #85 closed

[2016-05-03 11:04] goalposts opened #88 "NC Verilog Errorformat Addition"
I've been using the following with NCVerilog and UVM and it works reasonably well. UVM_FATAL does highlight during the summary report at the end, but the rest seems good. I would suggest test-driving and adding these to your existing toolset options.

" From https://github.com/ryanlee/vim/blob/master/vimfiles/compiler/ncverilog.vim
set errorformat+=%A%p\|,%Z%.%#:\ \*%t\\,%.%#\ \(%f\\,%l\|%c\):%m
"

[2016-05-04 20:07] lewis6991 commented on #84
Fixed in #87

[2016-05-04 20:07] #84 closed

[2016-05-05 14:06] vhda commented on #88
@goalposts I'd like to understand why all those entries are required. I'm particularly concerned about the `%-G` entries.

Would you mind that I include only the first errorformat and the basic UVM support in a temporary branch that you can try out and then you'll update this issue with examples of the special cases you find?

[2016-05-05 14:36] goalposts commented on #88
@vhda That sounds perfectly acceptable to me! The requirement for the -G entries come from the following:

[code]

All the best,

Dave

[2016-05-05 19:47] vhda commented on #88
Could you please check the `efm/ncverilog` branch?

[2016-05-06 10:34] vhda commented on #88
@goalposts Just remembered that you need to do the following to enable the UVM error messages support:

[code]

[2016-05-06 13:55] goalposts commented on #88
@vhda Yes, I spotted that. I've tried out the branch and added in a few more of the efm's as per the start of this thread. _I think_ I have a pull request completed - first time using git would you believe?! I also just spotted that I may have inadvertently removed a fold marker...

I have a higher level question for you too regarding errorformats and the plugin's functionality. In my current flow

[2016-05-06 13:59] vhda commented on #88
I can easily append it right after the UVM erroformat additions using a global variable.

Please make sure you include example error messages (you can omit confidential information related to file and signal names, obviously) that you want to catch/remove with the errorformat that you had to add.

[2016-05-06 19:17] vhda opened #90 "Indent: Disabling conditional assignments"
@lewis6991, could you please confirm that what you wrote here is working as expected?

https://github.com/vhda/verilog_systemverilog.vim/blame/102f86f05ce30f19d6f0d068c73d2a58838f3d9d/README.md#L197-L207

I was reviewing the documentation and noticed that it is not working for me.

Thanks!

[2016-05-10 15:15] vhda opened #96 "Review perfomance impact when reading configuration variables"
Reading a configuration variable may have some impact, even if small, on performance.

This issue serves as a reminder that this possible performance impact should be reviewed. The improvements should also take into account their impact on the user:

* Can the user dynamically update the configuration?
* Is it beneficial to have a local buffer override option together with a global version of the

[2016-05-14 00:01] vhda commented on #88
@goalposts could you please try my latest updates?
Thanks!

[2016-05-15 09:23] TzachiNoy opened #99 "Question Mark operator as part of search"
When searching a signal (by pressing * or **/**) vim doesn't find the cases it's followed immediately by question mark (**?**)

for example in the code below. pressing * when cursor is on b's declaration - won't find the b on the second row. And pressing / when cursor is on the second row won't take you back to it's deceleration, because it will look for b?.
[code]

I found that adding the followi

[2016-05-16 12:09] lewis6991 commented on #99
Nice catch! We'll keep the issue open until someone has time to open a PR to resolve this.

[2016-05-16 14:10] #99 closed

[2016-05-16 14:11] vhda commented on #99
@TzachiNoy thanks for reporting this issue. Feel free reopen it if you feel it is not fixed.

[2016-05-16 17:08] #90 closed

[2016-05-16 17:10] vhda commented on #61
@lewis6991 I'll tag release 3.0 after this issue is closed.

[2016-05-16 23:38] #61 closed

[2016-05-16 23:54] #44 closed

[2016-05-16 23:54] vhda commented on #52
I guess this problem stopped happening.

[2016-05-16 23:54] #52 closed

[2016-05-18 07:57] lewis6991 commented on #70
Looks like my original code insert has been fixed from other changes. Now just need to fix complicated variable assignment.

[2016-05-18 10:06] vhda commented on #70
I have a challenge for you... but I'll create a separate ticket for it.

[2016-05-18 10:08] vhda opened #102 "Special instance indentation support"
@lewis could you check how hard it would be to support the following indentation in instances?

[code]

[2016-05-18 13:08] lewis6991 commented on #102
What's the current and what is the desired?

[2016-05-18 13:48] vhda commented on #102
That's the desired.
Try copying to Vim and open a new line after the instance, you will see that the indentation will match the offset introduced in the instance.

[2016-05-18 14:11] lewis6991 commented on #102
What config do you have with this?

[2016-05-18 14:12] lewis6991 commented on #102
I currently get:

[code]

[2016-05-18 14:17] vhda commented on #102
You need to keep the indentation of the instance exactly as I copied above and only indent **after** the instance.

[2016-05-18 14:24] lewis6991 commented on #102
Seems fine for me ~~if I set `b:verilog_dont_deindent_eos`~~.

[code]

[2016-05-18 14:46] vhda commented on #102
Ups! Needs an `ifdef`. I've edited my example above.

Sorry :)

[2016-05-18 15:07] lewis6991 commented on #102
This won't be easy at all. I have a feeling there be may be a bug here around preprocessor statements.

[2016-05-19 07:49] lewis6991 opened #103 "Preprocessor statements break indentation."
[code]

[2016-05-24 08:36] lewis6991 opened #104 "Indent define blocks"
Current:
[code]
Proposed:
[code]

[2016-05-24 10:37] goalposts commented on #88
@vhda , apologies for the delay. I'm seeing the following being highlighted in the quickfix window with the latest updates:
TOOL:   irun    11.11-s111: Started on May 11, 1111 at 11:11:11 IST
The highlight returns with pipes rather than colons in the time reported (as a clue to the offending efm):
TOOL:   irun    11.11-s111: Started on May 11, 1111 at 11|11| 11 IST

That's the only issue I see at

[2016-05-24 17:29] vhda commented on #88
@goalposts are you sure you don't have extra `'errorformat'`entries on your side? I am unable to replicate the issue you are reporting.

[2016-06-10 13:17] lewis6991 commented on #103
Found another case which causes them to break:

[code]

[2016-06-15 14:52] NicoLugil opened #105 "join_any indenting"
This doesnt indent correctly:

[code]

If I replace join_any with join_none it indents ok

[2016-06-15 23:27] lewis6991 commented on #105
There's a typo in the indent script. Instead of indenting `join_any` it indents `join_all` instead. I'll fix this.

[2016-06-19 07:33] gombosh opened #106 "svp file extention"
please add ".svp" files to filetype detection.
(pre precessor files, used in synopsys VIPs).

[2016-06-19 20:59] lewis6991 commented on #106
Sounds fine with me, what do you think @vhda ?

[2016-06-20 18:16] vhda commented on #106
I did not find any existing filetype detection for .spv, so I see no reason not to add it to the list.

[2016-06-20 18:17] vhda commented on #105
Resolved in #107.
Thanks @NicoLugil for reporting and @lewis6991 for fixing :)

[2016-06-20 18:17] #105 closed

[2016-06-20 18:18] vhda commented on #106
@lewis6991 feel free to merge this PR if you agree with it.

[2016-06-20 18:22] vhda commented on #106
Wait... just noticed that @gombosh meant "svp" instead of "spv"...

[2016-06-20 18:26] vhda commented on #106
Updated title and description of original request according to what I think is the requested extension.
Created new PR with the correct fix.

[2016-06-20 18:39] vhda commented on #88
@goalposts could you please post the contents of your `'errorformat'` when those messages are reported in the quickfix window?

[2016-06-20 18:52] #106 closed

[2016-06-21 08:52] goalposts commented on #88
Hi @vhda , apologies for the delay again - was out of the office for a while. It looks like this is a case of PEBKAC as I must have loaded the log file with 'vim -q <logfile>' which circumvented the plugin's errorformat specifiers. I don't see the issue when I have the plugin loaded correctly and send the logfile to the location list separately.

[2016-06-21 14:18] gombosh commented on #106
the requested extension is indeed ".svp", it stands for "system verilog protected" file (originally I thought it was "system verilog pre-processing", but I was mistaken).
it's funny since there's actually an "spv" verification language, but it's based on C++, so, not the case here :-)

[2016-06-21 14:53] vhda commented on #106
Hope it's now working for you :)

[2016-06-24 17:54] vhda commented on #88
PR #111 includes the final commit with changes to `'errorformat'` to implement everything discussed in this issue.

[2016-06-27 13:15] vhda commented on #88
@goalposts Proper NCverilog suppoort is now part of the main branch. Please feel free to create a new issue in case you find any bug or limitation.

Thanks for your contribution to this project!

[2016-07-01 16:18] vhda commented on #103
More examples.

In the following scenarios `my_function()` has one extra indentation level:

[code]

or:

[code]

[2016-07-01 16:42] lewis6991 commented on #103
I've been working on something for a while that should address this among a few other issues.

[2016-07-07 01:13] ghilton319 opened #112 "Incorret indent after comment block that has unmatched parenthesis on first line"
I've been experimenting with verilog-mode ([homepage](http://www.veripool.org/wiki/verilog-mode), [github page](https://github.com/veripool/verilog-mode)) AUTO_TEMPLATE feature and ran into an indenting issue with verilog_systemverilog. It will indent the proceeding lines of a multi-line comment block.
I discover this issue with AUTO_TEMPLATE, but other conditions can trigger it to, such as a comm

[2016-07-07 07:29] lewis6991 commented on #112
Thanks for reporting. I'm already in the middle of a large change so I'll try and incorporate a fix for this into that. Don't expect a fix any time soon though.

[2016-07-07 08:00] vhda commented on #112
@ghilton319 blasphemy! You've been using emacs!? :P

[2016-07-14 06:52] y-kim opened #113 "Multi line assignment issue"
Indentation of multi line assignment fails when two or more "<=" or ">=" operators are used.

[code]

[2016-07-14 07:07] y-kim opened #114 "Tailing question mark of a number is interpreted as conditional operator."
[code]
Color of the first question mark is same to number, but that of the second is same to operator.

[2016-07-14 07:44] y-kim commented on #114
[code]

I think this problem came from Verilog syntax definition bundled in VIM 7.4 (related part is written above). It counts number until word boundary but the last question mask is not word by VIM.

[2016-07-14 09:50] vhda commented on #114
I think this is a feature, not a bug. The idea is to support the following statements:

[code]

[2016-07-14 12:58] lewis6991 commented on #113
Nice catch.

[2016-07-14 13:02] lewis6991 commented on #114
I think that both `?` should be the same color as number, however if there is a space then it should match as an operator.

[code]

So I agree there is a bug here.

[2016-07-14 13:12] vhda commented on #114
You're correct. I misunderstood the original report. My bad.

[2016-07-16 15:55] #114 closed

[2016-08-07 16:08] luoyanghero opened #116 "Indent wrong"
Expected:
module tst(a,b);
input a;
output b;
endmodule

Actually:
module tst(a,b);
____input a;
____output b;
endmodule
____ it means four spaces.

[2016-08-07 21:34] vhda commented on #116
Hi @luoyanghero,

You should be able to use the following configuration to disable that indentation:

[code]

Or using the command:

[code]

For more information check the following help pages:

[code]

The complete help text for this addon is available as following:

[code]

[2016-08-25 01:35] luoyanghero opened #118 "match begin-end question?"
how to match'begin end' like '{}' using %?

[2016-08-25 06:25] vhda commented on #118
Vim includes a script for that in its distribution that you can load by adding this to your vimrc:

[code]

This plugin includes the necessary configurations for matchit to work on Verilog/SystemVerilog.

[2016-08-25 14:08] vhda commented on #118
Did this help?

[2016-09-02 14:50] luoyanghero commented on #118
Sorry for long time no response.  It's very useful.

[2016-09-02 15:18] vhda commented on #118
Glad I could help!

[2016-09-02 15:18] #118 closed

[2016-09-28 13:55] NicoLugil opened #120 "weird indenting with export"
[code]

indents incorrectly

[2016-09-28 14:03] lewis6991 commented on #120
It is indenting like this because of `task` in line 2. To fix this tasks will need to be dequalified when `export` precedes them.

[2016-10-09 10:37] r901042004 opened #121 "highlight problem"
When I use unique/unique0/priority + if/case/casez/casex ie. unique if.
The if/case/casez/casex statements are recognized as normal syntax.
How can I fix this problem?

[2016-10-09 11:24] lewis6991 commented on #121
I'm not sure I understand your issue. Can you explain further?

[2016-10-09 13:46] henry-hsieh commented on #121
Sorry, it's a highlight issue. I didn't set up "verilogConditional" of highlight option in my scheme, and it's solved now. And I found another problem.

In following systemverilog code:

[code]

The "begin" and "end" are highlighted by "verilogStatement".
When I add "priority" before "if", the highlight of "end" will change to "Normal".

[code]

Assume signal "clk" and "rst" are yellow (Normal hig

[2016-10-09 17:26] r901042004 commented on #121
I found that if I set `let g:verilog_syntax_fold_lst="all"` in ".vimrc", the problem will occur.
Normal highlight become Statement highlight when I set `let g:verilog_syntax_fold_lst="block_nested"` in ".vimrc",
Setting `let g:verilog_syntax_fold_lst=""` in ".vimrc" could let highlights correct.

[2016-10-09 17:31] henry-hsieh commented on #121
`let g:verilog_syntax_fold_lst=""`
![workspace 1_008](https://cloud.githubusercontent.com/assets/22725367/19222663/a6512c0c-8e90-11e6-8f65-60cdf904845d.png)
![workspace 1_009](https://cloud.githubusercontent.com/assets/22725367/19222665/ac75c2dc-8e90-11e6-8fce-c4f10a068b60.png)
`let g:verilog_syntax_fold_lst="block,instance"`
![workspace 1_010](https://cloud.githubusercontent.com/assets/22725367/1

[2016-10-10 10:52] lewis6991 commented on #121
@vhda implemented the `begin...end` folding so I will assign to him.

[2016-10-10 14:21] henry-hsieh commented on #121
@lewis6991 Thank you.
I found another if-else and case-endcase highlight problems.
I set `let g:verilog_syntax_fold_lst=""` in ".vimrc", so it's might **not** a folding problem.

**If-else:**
When the cursor is on "else", the highlight is work.
![1](https://cloud.githubusercontent.com/assets/22725367/19238673/39b9ed7c-8f35-11e6-8ae2-6ea857be5060.png)
It doesn't highlight when the cursor is on "if"

[2016-10-10 20:51] vhda commented on #121
The first highlighting issue was already reported in issue #63 (by myself), but I still was not able to find a fix for it.

The other situation you referred is not related with this plugin, but with hl_matchit plugin. Nevertheless, I tried out the issues you reported and was unable to replicate. Please try to `:set updatetime=100` and see if it the behavior improves (note: I do not advise you to k

[2016-10-11 03:40] henry-hsieh commented on #121
@vhda I see. Thanks for your help.

[2016-10-11 03:52] r901042004 commented on #121
@vhda I see. Thanks for your help.

[2016-10-11 16:09] henry-hsieh commented on #121
I found the solution of hl_matchit plugin's problem.
Maybe you can give anyone who want to install the plugin a setting suggestion in [README.md](https://github.com/vhda/verilog_systemverilog.vim/blob/master/README.md).

1.
The first issue is matchit plugin. Its developers didn't notice that Verilog has "else if" condition.
Type `:echo b:watch_words` in Vim, and we can find that it only has `\<if\

[2016-10-11 16:55] vhda commented on #121
The matchit configuration is setup in [ftplugin/verilog_systemverilog.vim](https://github.com/vhda/verilog_systemverilog.vim/blob/master/ftplugin/verilog_systemverilog.vim), so you can apply the change there and propose it in a Pull Request.

As a side note, take into account that there is no formal "else-if" in Verilog and that you are using a trick to overcome that. Did you have the intention of

[2016-10-12 08:22] henry-hsieh commented on #121
The matchit plugin can't let cursor jump to correct position in following situation.

[code]

"If 1" jumps to itself, and "if 2" jumps to "else 1".
It must rewrite the plugin to correct it, so I give up.

For following code, I think that jump between "if1 - else1", "if2 - else if2 - else2", "if3 - else3" is acceptable for me.
We seldom need jump between "if1 - if2 - else if2 - else2 - else1" in mo

[2016-10-28 02:37] luoyanghero opened #125 "open .cpp file cannot delete fold"
When I open .cpp file, it default fold. I go to the folded line and hit space, only unfold one fold block.
How to make it default unfold when open .cpp file?
Or how to unfold all folded line?

[2016-10-28 02:42] luoyanghero commented on #125
I select all line(gg, shift+v, G), and hit zO, is it the easiest way?

[2016-10-28 07:49] lewis6991 commented on #125
zR is the easiest way I think

[2016-10-28 10:26] vhda commented on #125
[code]

You might want to take a look at `:help 'foldlevel'`.

[2016-11-03 13:11] gogulfresh opened #126 "Set error format in .vimrc"
Hi Guys,
this is not really an issue but since I don't know where to ask I ask here... :)
How can I set the error format in my .vimrc? I don't like to type :VerilogErrorFormat every time I open vi...
Thanks for providing this great plugin!
Gogul

[2016-11-03 14:38] vhda commented on #126
Pick one of the following solutions by adding it to your vimrc:
1. compiler! something
2. autocmd FileType verilog_systemverilog compiler something

I prefer the second solution, which guarantees that `'errorformat'` is only set for Verilog/SystemVerilog files.

You may also need to configure the variables 'g:verilog_efm_level', 'g:verilog_efm_uvm_list', 'g:verilog_efm_quickfix_clean' and 'g:veril

[2016-11-10 13:27] gogulfresh commented on #126
thank you! This is such a great feature! What is the difference between compiler and compiler! ?

[2016-11-10 13:27] #126 closed

[2016-11-10 14:35] vhda commented on #126
You can check the help for that using `:help :compiler`.

With the exclamation suffix the command applies to all buffers, while without it only applies to the current buffer.

[2016-11-10 15:20] gogulfresh commented on #126
Thanks!

[2016-11-10 15:24] vhda commented on #126
You're welcome :)

[2016-11-18 16:55] justrajdeep opened #128 "Issue with indent and appending text in visual mode"
Hi
First i would like to thank you for this amazing plugin.

I am facing an issue, please let me know if it is a known one

I have code like below

            assign __intf.gsgrp_if.send = gsgrp_if.send;

        assign __intf.gsgrp_if.gsgrp_data.is_event   = gsgrp_if.gsgrp_data.is_event
        assign __intf.gsgrp_if.gsgrp_data.event_id   = gsgrp_if.gsgrp_data.event_id

I would like to add `;` i

[2016-11-22 10:22] lewis6991 commented on #128
I think this is caused because line 2 is indented incorrectly. I think the best way to achieve what you want is to not use visual block mode. `A;<ESC>j.` would achieve what you want just as well and is one character less. Other than that I can't see a clear way around this other than `set noautoindent`

[2016-11-22 13:44] vhda commented on #128
@lewis6991 I think this happens because `;` is part of `'indentkeys'` and so will trigger the call to `'indentexpr'`. Unfortunately, at the time when the indentation function is called only the first line ends in `;` and so the second line will not be indented.

The only thing we could do would be to assume the same indentation level as the previous line when the current does not end with `;`, but

[2016-11-22 14:16] justrajdeep commented on #128
@lewis6991 your mapping `A;<ESC>j.` would work for only 2 lines, if we have multiple lines it is not that helpful.

@vhda the issue is not that the 2nd line is not getting in indented, but the wrong text inserted in the 2nd line. i did not follow how `gv=` post text appending would solve the issue since the text appended would be wrong. building on your proposal if we do `=` (indentation of the bl

[2016-11-22 14:29] vhda commented on #128
@justrajdeep sorry, I did not notice the extra characters before. That is very strange and would guess there is a bug in Vim. From our script point of view we only return the indentation value to Vim, which is then responsible for aligning the text.

[2016-11-22 14:42] justrajdeep commented on #128
@vhda with your plugin disabled vim works fine(tested it myself).
with the plugin enabled the 1st line gets indented and that messes up the text inserted in the visual block mode.

[2016-11-22 14:47] vhda commented on #128
@justrajdeep but does any of the lines get indented when you do that?

FYI, I've opened an issue in Vim for this vim/vim#1269. Let's see what they say.

[2016-11-22 15:34] justrajdeep commented on #128
@vhda no none of the lines get indented in that case.

[2016-11-22 15:39] vhda commented on #128
That's the reason you don't see the bug occurring. If the first line was indented new characters would appear in the second line in the same number as the indentation of the first line.

[2016-11-22 15:41] justrajdeep commented on #128
@vhda thanks. lets see what the vim guys respond.

[2016-12-17 12:01] vhda commented on #125
Assuming fixed.

[2016-12-17 12:01] #125 closed

[2016-12-17 12:02] vhda commented on #116
Assuming fixed.

[2016-12-17 12:02] #116 closed

[2017-01-11 23:45] antoinemadec opened #129 "indentation issue "if" statement on 1 line"
Hi,

First, thanks a lot for this rad plugin.
Then, the issue:
[code]
is wrongly indented as follows:
[code]
A one liner if is poor coding style to start with, but you don't choose how people write their code :p
Could you please take a look ?

Cheers,
Antoine

[2017-01-12 16:11] lewis6991 commented on #129
We've had this issue raised before. It is something that we can fix but it would hurt performance enough for me to not want to change it.

I partly agree with you, however the issue is that SystemVerilog is an incredibly complex language syntactically and figuring out how to model every single case is near impossible. It's hard enough trying to indent sensible code!

With that said, I have been wo

[2017-01-12 20:39] antoinemadec commented on #129
Thanks for the clear feedback.
I will take a look at your plugin, is based on https://github.com/nachumk/systemverilog.vim ?

Cheers,
Antoine

[2017-01-12 20:46] vhda commented on #129
Free time has been lacking lately and I've also been trying to fix the syntax (folding) issues.
Currently trying out a expression based folding, but it's just too damn slow.

@lewis6991 PR #119 is waiting on me, correct?
Is everything there similar to what you have under https://github.com/nachumk/systemverilog.vim?
Or is this PR no longer up-to-date?

[2017-01-12 22:03] lewis6991 commented on #129
@antoinemadec no it is not based on that. My version is completely re-written based on what I've learnt from developing on this plugin.

@vhda https://github.com/lewis6991/systemverilog.vim is a complete re-write and isn't related to the PR. For the syntax, instead of just listing a gigantic list of keywords and patterns that match everywhere, I have defined regions and patterns to only match wher

[2017-01-23 01:49] vhda commented on #63
Fixed on PR #130

[2017-01-23 01:50] vhda commented on #121
This should have been fixed, or at least improved, with PR #130.

[2017-02-24 20:02] vhda opened #132 "Folding fails in indented functions/tasks"
The match regular expression of instances conflicts with indented functions/tasks.

This issue will be resolved in PR #131.

[2017-02-24 20:06] vhda commented on #128
I'm receiving some updates on this... apparently the solution is not trivial.

Going to check a patch tonight to see if it fixes the issue.
More news as soon as I have them! :)

[2017-02-25 01:03] vhda commented on #128
The fix results in the following output:

[code]

I think this is a bit better. Take into account, though, that it is not possible to apply the indentation update to all modified lines.

[2017-03-06 20:13] vhda commented on #121
@r901042004 could you confirm if the original highlighting issue is fixed in the latest version?
Please note that I'm not referring to the highlight matching, which is out-of-scope of this plugin (if you agree?).

[2017-03-11 20:09] eolithic opened #133 "Syntax Highlighting Improvement"
Since tags are already being used, could it be possible to highlight the classes (which have been already declared) at the time of instantiation or object creation? For eg.

Class a;
Endclass

Class b;
**_a_** a1;
function new();
   a1 = **_a_**::type_id::create("a1");
endfunction;
endclass

[2017-03-15 00:38] vhda commented on #133
I consider that functionality outside the scope of this plugin, because there are already many plugins doing that.

For example, two that I've just found:

* [Easytags](https://github.com/xolox/vim-easytags) - also maintains tag database automatically.
* [TagHighlight](https://github.com/vim-scripts/TagHighlight) - screenshots look nice, I should try it sometime.

Please do share which plugin you

[2017-03-23 18:29] jvmCarneiro opened #134 "Autocmd Filetype verilog not executing"
Previous to the plugin installation I used the following augroup for verilog:
[code]
However, none of those autocmd execute after installation. Should I change the FileType argument or something? I also use:
[code]

[2017-03-23 19:14] vhda commented on #134
Olá João :)

This plugin implements a new Vim filetype called `verilog_systemverilog`, which means that your `FileType` events for `verilog` must now be modified to use `verilog_systemverilog` instead.

I'm inheriting the filetype defined by the plugin I used as a base for the current version you now have available and while I've considered many times to rename it, I simply decided that it would b

[2017-03-23 23:45] jvmcarneiro commented on #134
Awesome, all's well now. A simple `:set filetype?` would've shown me that.

Keep it up Vitor, obrigado!

[2017-03-23 23:45] #134 closed

[2017-03-30 00:03] vhda commented on #133
@eolithic did you end up testing any of these plugins?

[2017-03-30 00:06] #121 closed

[2017-03-30 00:07] vhda commented on #121
Closing issue because there are no updates for an extended period of time.

[2017-04-07 10:24] #113 closed

[2017-04-07 10:36] vhda commented on #133
@eolithic any updates?

[2017-04-07 10:37] #132 closed

[2017-04-11 09:22] luoyanghero opened #135 "some case .sv intend not right"
This is in a .sv file, when I type 'extern function new(string name, virtual rdy_need_intf_v2 intf)' and then ';', it shows follow:

[code]

But I wish like this:

[code]

I try to delete line 'virtual interface rdy_need_intf_v2 vif;', I typed 'extern function new(string name, virtual rdy_need_intf_v2 intf)' and then ';', it shows follow:

[code]

Question: Is it a bug, or do I not setting right?

[2017-04-11 16:39] vhda commented on #135
This is a bug in the way interfaces are being identified. Basically, `virtual interface` is being identified as the start of an interface declaration, which results in an extra indentation level.

While I could add a quick patch to overcome this limitation, please give me some time to come up with a more generic (and elegant) solution.

[2017-04-13 02:07] luoyanghero commented on #135
Thanks a lot. I am waiting your results.

[2017-04-15 16:39] justrajdeep commented on #128
Thanks

[2017-04-19 19:27] #135 closed

[2017-04-19 19:32] vhda commented on #133
Closing issue.
Please feel free to re-open if you feel that my answer was not sufficient.

[2017-04-19 19:32] #133 closed

[2017-04-24 18:38] #129 closed

[2017-05-29 13:52] #120 closed

[2017-05-29 13:53] vhda commented on #120
Sorry for the time I took to fix this @NicoLugil.
Please review and warn me if there any unexpected consequence to this change.

[2017-06-27 17:41] justrajdeep opened #141 "syntax highlight is lost on going to end of line in long line after patch v8.0.0646"
Hi

With the latest vim change [v8.0.0646](https://github.com/vim/vim/commit/0946326580e6f034fe2c88d041407ea0fde980ab) the syntax highlight is lost if i have a long line.

To reproduce:

have a long line (which does not fit the window) in an sv file.
set `nowrap`
go to the end of line pressing `End`
syntax highlight is lost, which can be revived by pressing `Ctrl-l`

Can you please take a look?

T

[2017-06-28 19:14] vhda commented on #141
At the moment I don't have that Vim version available. Could you please check if you have similar issues with other syntax types? To confirm if this is specific to this plugin.

[2017-06-28 19:40] justrajdeep commented on #141
Hi

I did test out some other files and faced similar syntax issues in a few other plugins as well.

with `perl`: issue is there, goes away when i disable [vim-save-cursor-position](https://github.com/wellsjo/vim-save-cursor-position.git)

with `python`: no issue

with `cpp`: issue is there which goes away when i disable [vim-cpp-enhanced-highlight](https://github.com/octol/vim-cpp-enhanced-highli

[2017-06-30 13:32] vhda commented on #141
From what you say, this should be a Vim issue.
But before telling you to open an issue in vim's Github, I would first recommend that you start by disabling all your plugins using `vim -u NONE -U NONE` and see if the default syntax files show the same error.

[2017-06-30 13:45] justrajdeep commented on #141
Hi

I have tried it already with all plugins disabled. The default syntax files dont show any issues. Thant is why I concluded that it is not a vim issue.

Thanks

[2017-06-30 14:31] vhda commented on #141
Since I did not modify the plugin, I can only assume there was a change in Vim that resulted in this behavior. Do you know which version you had before, so that I can try to skim through the changes to see if I find anything that makes sense.

[2017-06-30 14:40] justrajdeep commented on #141
Hi

i have mentioned the vim version change that started this issue in the bug description. You can just look at that. Please let me know if u need any other info.

BTW: I am using gvim, on RHEL6, x86_64

Thanks

[2017-06-30 17:44] vhda commented on #141
I'm sorry but I am unable to replicate this issue.
You will need to understand which plugins are originating this behavior, but as far as I can tell it's not related with my plugin.
Note: I tested in RHEL 6.5, x86_64 in both vim and gvim (GTK2).

[2017-06-30 17:51] justrajdeep commented on #141
Ok .. i will check more and get back to you.

[2017-08-15 18:05] antoinemadec opened #142 "Semaphore and Mailbox are not highlighted"
Hi,

Would it be possible to add 'semaphore' and 'mailbox' in syntax/verilog_systemverilog.vim ?
Those should be treated like 'event' as they are interprocess communication keywords as well.

Excellent pluging by the way :)
Thanks in advance !

[2017-08-15 18:44] antoinemadec opened #143 "Event trigger indentation issue"
Hi,

I noticed the following behavior when triggerring an event:
[code]

Here is the diff in indent/verilog_systemverilog.vim I used to fix it:
[code]

I tried to run the tests and it seems OK.
I hope this is correct. Could you please push it ?

Thanks again for the swell plugin,
Antoine

[2017-08-18 23:40] vhda commented on #143
Check the commit message format I'm using and create a Pull Request, please.
If you have a fix, we can at least have your name on that commit :)

[2017-08-18 23:43] vhda commented on #142
Fixed in 666d4725310ca09370ae9ebc6a8b9e8325da097b.
But note that there is no special highlight for event like keywords.
If you find something strange please warn me.

[2017-08-18 23:43] #142 closed

[2017-08-18 23:50] antoinemadec commented on #143
My bad, will do ;)

[2017-08-19 18:17] vhda commented on #143
Thanks for your contribution Antoine.

[2017-08-19 18:17] #143 closed

[2017-08-19 18:17] vhda commented on #141
Any updates @justrajdeep ?

[2017-08-21 17:45] justrajdeep commented on #141
hi vhda
i have not been able to rootcause it. If you want you can close this issue now. Once i have something concrete i will post and reopen the issue again.

[2017-08-23 00:10] antoinemadec opened #145 "'this' and 'null' highlighting"
Hi,

Here is an example of the issue with 'this', but the same behavior is true for 'null' as well:
[code]

Would it be possible to change this behavior so 'this' and 'null' are always highlighted ?
Also, since both are "pointers", would it be possible to put them in the 'verilogObject' group like 'super' (which is also a "pointer") ?

Cheers,
Antoine

[2017-08-24 23:50] vhda commented on #141
I'll close the issue then. But do update it when you find the root cause :)
Thanks!

[2017-08-24 23:50] #141 closed

[2017-08-24 23:57] #145 closed

[2017-08-24 23:58] vhda commented on #145
Could you please try again?

[2017-08-25 00:33] antoinemadec commented on #145
The highlighting of 'this' and 'null' is working fine now, thanks a lot!

However 'this' and 'null' are still verilogStatement, could it be possible to change it to verilogObject ?
If not, no problem, I don't wanna sound nitpicky. Thanks again :)

[2017-08-25 10:06] vhda commented on #145
That makes sense.
I've been mostly focused on RTL in the last few years, so it's difficult for me to detect this type of inconsistencies.
Keep them coming!

[2017-08-25 10:10] vhda commented on #145
I've just noticed I did not read your original issue completely and apologise for that.

[2017-08-25 16:03] antoinemadec commented on #145
No problem, thanks a lot for the commit, it works like a charm now.
Cheers!

[2017-08-26 20:26] xinpan1992 opened #146 "syntax vim file error"
Hi,

After installing  this SystemVerilog plugin,  each time I open a file in vim, it gives me an error.

[code]

Could you please help me?

Thank you!

[2017-08-28 12:50] vhda commented on #146
Could you please compare the contents of `plugin/verilog_systemverilog.vim` with what is in this git repository?

[2017-08-28 16:50] PeterPandar commented on #146
They are identical.

[2017-08-29 06:56] vhda commented on #146
If you start vim with `vim -u NONE -U NONE` do you still get that error?

[2017-08-29 18:22] PeterPandar commented on #146
If I do `vim -u NONE -U NONE` then no error

[2017-08-29 19:55] vhda commented on #146
I can only conclude that there is something in your `.vimrc` is somehow breaking your setup.
[This](https://vi.stackexchange.com/questions/2003/how-do-i-debug-my-vimrc-file) Stack Exchange entry is what I usually advise to help debug this type of issues.

[2017-08-29 20:29] PeterPandar commented on #146
Thank you,

The following is my .vimrc file, and by using your debug method, this line of code is causing error
`source ~/.vim/syntax/verilog_systemverilog.vim` .

And now I am stuck.......

[code]

[2017-08-29 20:57] vhda commented on #146
All those files are automatically loaded by vim. You don't need to `source` them.

I also suggest that you revisit Pathogen documentation. Never used it, but your setup does not look how I would expect it to be.

[2017-08-30 15:11] vhda commented on #146
Any updates?

[2017-08-31 22:06] PeterPandar commented on #146
Since I use the company laptop, and in installing this plugin, it gives me a CA cert error when doing
`git clone`

I am not able to bypass that.
Seems that I can not use this plugin.
Anyway, thank you for developing the plugin and your kind help on this.

[2017-09-01 08:51] vhda commented on #146
I've had a similar problem when cloning from my company's servers. Try this:
[code]

[2017-09-01 17:53] PeterPandar commented on #146
Still getting this error.

[code]

[2017-09-01 19:31] vhda commented on #146
Did you notice that your URL includes `githun` instead of `github`?

[2017-09-01 21:20] PeterPandar commented on #146
How stupid i was, now it works.
Thank you!

[2017-09-01 22:36] vhda commented on #146
And the plugin itself, is it working? :)

[2017-09-01 22:59] PeterPandar commented on #146
As for the folding feature, I have already add the `set foldmethod=syntax` in my .vimrc.
But I cannot see the folding in my verilog file, such as task, begin-end.

While I do see the folding in autoload/verilog_systemverilog.vim , and functions are surrounded by
[code]

So how dose your folding works? Do I have to write extra code in my verilog/SV file?

[2017-09-01 23:40] vhda commented on #146
Run `:help verilog_systemverilog.txt` and `:help verilog-config-syntax`, you should find there how folding works and how it is configured.

[2017-09-01 23:48] PeterPandar commented on #146
Great! Now everything works!

Thank you!

[2017-09-01 23:50] vhda commented on #146
Great! Glad I could be of assistance.
I also highly advise you to read the remaining help, since it provides more guidelines for other features I've included.

[2017-09-01 23:50] #146 closed

[2017-09-14 09:36] gogulfresh opened #147 "VerilogAMS"
Hi Guys,

from time to time I have to edit some vams files, vi supports syntax highlight but nothing more.
Does it make any sense to add vams to this plugin or is it causing more troubles since there are quite some differences between the languages?!

Thanks!

[2017-09-22 16:48] pknminor opened #148 "folding doesn't seem to work for `ifdef `else etc"
Not sure if this was done on purpose. Would be nice to have this when verilog_syntax_fold_lst is set to all.

[2017-10-05 15:30] jwang-us opened #150 "Doesn't work for systemverilog struct"
Hi,

Thanks for making this great vim plugin.

I'm starting to use struct in my rtl, but it seems it cannot omin-complete the members of a struct with "abc.<tab>" (using SuperTab).

Is it because the universal-ctags doesn't support struct? something like enum is supported.

Thanks.

Jim

[2017-10-06 16:25] vhda commented on #150
Hi Jim,

Universal Ctags should support `typedef struct`, but I don't think I've added support for simple `struct` declarations. Would you be so kind and include an example here?

Thanks,
Vitor

[2017-10-06 16:49] vhda commented on #148
I have folds when I open `test/folding.v` and `g:verilog_syntax_fold_lst="all"`.
Could you please double check your configuration? Please confirm that `g:verilog_syntax_fold_lst` is set to a string.

[2017-10-06 17:17] vhda commented on #147
Hi @gogulfresh,

Could I ask you to test the https://github.com/vhda/verilog_systemverilog.vim/tree/verilog/ams branch I just uploaded?

I've made my life simple, and just included Vim's Verilog AMS syntax when such a file is opened. Since this is the first time I do this, I'm not very confident on the results. That's why I'm asking for your review before merging this.

Thanks!

[2017-10-10 15:22] gogulfresh commented on #147
yeah syntax highlight, begin end jump and auto intent are working fine! :D
Thank you!

[2017-10-10 15:33] gogulfresh commented on #147
Ok I found one "issue": Not only vams syntax gets highlighted, also sv syntax (e.g.: class,enum,join_all). This is not the case when using the "pure" vi vams syntax.
Anyhow, better then w/o indent :)

[2017-10-11 22:38] vhda commented on #147
I took a "KISS" approach here and simply included Vim's default `verilogams.vim` syntax file.
Unless you find deeper bugs, I suggest that we keep it as it is.

In the meanwhile I'll create a new issue to consider the possibility to only load SystemVerilog related syntax when a `.sv` file is opened, and the same for Verilog AMS. But such change would require some big changes to this plugin, so I wo

[2017-10-11 22:43] vhda opened #154 "Optimize syntax according to file extension"
Consider the possibility of only loading SystemVerilog syntax when the buffer's file name extension is `.sv`, `.svi`, `.svh` or `.svp`. Do the same for Verilog AMS using the relevant extensions.

While this should improve the syntax performance, it does so at the cost of making the code much more complex. It would also make sense to include a global variable to control this behaviour, adding more

[2017-10-12 12:43] gogulfresh commented on #147
I go with your suggestion! :)

I do not think that people use .v for sv and vams: You cannot mix vams with sv (vams is not defined in the sv spec, in contrast to v & sv), this gives an compile error (e.g.: interface in .vams file or analog block in systemverilog). Since you need to decide with extension is compiled how (irun: -amsvlog_ext .vams) you could only go with .v compiled as vams, or sv or

[2017-10-13 03:11] r901042004 opened #155 "Test Environment Setup"
If I use the default vimrc_test, it failed on folding test.
[code]
Travis CI seems to have global vimrc setup, so it can test correctly.
I modified the test_vimrc and it can work on my test environment.
[code]

[2017-10-13 04:40] jimwang99 commented on #150
Thank you for your reply. here are some examples code:
[code]
and the tags file is like this, which don't have the content of struct_t, although it has the content of state_t;

[code]

[2017-10-13 11:44] vhda commented on #150
I think you are not using the required arguments when generating the tags file. Please take a look at the omni completion section in the readme and help documentation, update your tags generation script and try again.

[2017-10-14 23:13] vhda commented on #155
Running the tests through the Makefile should now be completely independent of the user's environment. Could you please try again?

Thanks!

[2017-10-15 17:47] henry-hsieh commented on #155
I have tested the last commit. It's already independent of the user's environment.
However, the indent test failed,  and it pass after I add the following command in test_vimrc
[code]
My OS is CentOS 7 (kernal version: 3.10.0-693.2.2.el7.x86_64) and Vim version is 8.0.1176.
I guess that the default 'shiftwidth' may different in vary OS or vim build.
It's 8 spaces in my default environment.

If I d

[2017-10-15 18:59] vhda commented on #155
Could you please append the following line to test_vimrc and report the results:

[code]

[2017-10-16 01:43] henry-hsieh commented on #155
All tests are pass after I add `set modeline`.
Thank you for your help!

[2017-10-16 09:56] vhda commented on #155
Fixed in 660837e385d2511f44165b996abd765457009ba3

[2017-10-16 09:56] #155 closed

[2017-10-19 15:37] vhda commented on #128
Fixed in vim/vim@e2e69e48134cbfdedea7802810932f8592705024 (patch 8.0.1041).

[2017-10-19 15:37] #128 closed

[2017-10-19 15:43] justrajdeep commented on #128
Thanks

[2017-10-24 04:21] jimwang99 commented on #150
Hi vhda,

Cannot agree with you. I'm using exactly what you suggested in "README.md"

[code]

And here is my `ctags --help` info

[code]

Thank you.

Jim

[2017-10-24 22:54] vhda commented on #150
Currently not at the pc so can't confirm, but if I remember correctly ctags arguments order matters. Try moving the *.sv to the end of the command.

[2017-10-25 14:57] vhda commented on #42
Example `syntime report` for a huge gatelevel netlist:
[code]

[2017-10-29 23:48] jimwang99 commented on #150
Hi,

Thanks. Tried but still the same.

BTW: I'm using OSX. I download the ctags from github and compiled myself.

JIm

[2017-10-30 18:10] vhda commented on #150
Hi,

I'm sorry, you are correct: Universal Ctags is still skipping the contents of structs.
Give me a week or two to take care of that.

Vitor

[2017-11-03 04:58] jimwang99 commented on #150
Hi vhda,

Thank a lot. Take your time. Please let me know if you need any kind of help, such as testing or something.

Jim

[2017-11-09 09:03] pknminor commented on #148
Not sure where I noticed this.

Seems to be working fine. Closing.

[2017-11-09 09:03] #148 closed

[2017-11-10 14:47] vhda commented on #148
Please note that I've been working on how the syntax is defined and it is now mostly based on syntax ranges. The idea is to start reducing the number of matches Vim has to make by correctly defining the region where some syntax items are valid. For example, there's no sense in searching for functions inside the module port list declaration. I also intend to use this as a method to measure the requ

[2017-11-16 14:05] gogulfresh opened #158 ""join" will break line intent"
Hi!
If I put "join" inside question marks (for printing) will break line intent:

[code]
without join in the info message:

[code]

[2017-11-16 14:41] pknminor commented on #148
Yeah, think I came across something similar to your snippet.

Thanks!

[2017-11-16 15:45] narcolepsy opened #159 "syntax regioning for embedded language failure"
Hi, having an issue with some embedded code inline in source files. Older versions of the code seemed to work fine by defining regions as @ERB, and this remains working to an extent, but when the embedded code is within brackets the conditional syntax doesn't seem to work.

I was wondering if there was a switch I was perhaps missing for syntax calculation (or perhaps even folding) which is prevent

[2017-11-20 19:47] vhda commented on #159
Hello @narcolepsy

In order not to repeat myself, please read this comment in another issue: https://github.com/vhda/verilog_systemverilog.vim/issues/148#issuecomment-343492195.

With this in mind you might want to take a look [here](https://github.com/vhda/verilog_systemverilog.vim/blob/master/plugin/verilog_systemverilog.vim#L78) to see this plugin's region definitions and then improve your syn-

[2017-11-23 10:39] narcolepsy commented on #159
Thanks for the information - you got me heading on the right track, with a bit of help!

Turns out the language definition for embedded code has to come before expression (as everything inside parenthesis was being matched as a verilog region), then everything seemed to work. Example below to show the approach taken.

[code]

[2017-11-26 20:18] vhda commented on #159
Maybe you could try something like:

[code]
(didn't test, hope there's no typo here)
This would make sure you still use my latest updates.

But I am curious: can you share why you have Ruby together with Verilog?

[2017-11-28 14:41] vhda commented on #150
This is taking longer than I'd hoped... being a recent dad is not helping out on the free time ;)

[2017-11-28 14:43] vhda commented on #147
Since I'm tracking the optimization of the current implementation in #154, I'll just close this issue.

[2017-11-28 14:43] #147 closed

[2017-11-28 15:18] narcolepsy commented on #159
Yes, that would work and make us change agnostic in the plugin - think that might need an extra comma, I'll check in a bit! The idea behind the ruby is similar to this https://stackoverflow.com/questions/34053702/embedding-perl-in-verilog

[2017-11-28 16:26] narcolepsy commented on #159
[code]

[2017-11-28 19:44] #158 closed

[2017-11-28 19:46] vhda commented on #158
Please confirm if this fixed your issue.

[2017-11-28 19:47] vhda commented on #112
@ghilton319 could you please check if this problem still occurs? Thanks!

[2017-11-28 20:34] vhda commented on #159
And isn't it vim right? I'm really using a list there! :)
What about:

[code]

[2017-11-28 22:34] narcolepsy commented on #159
:) thanks for the tips - I'd gotten it to work earlier with

[code]
but will work on upping my vim game to do this more elegantly. However the above approach works in the custom syntax file now, whereas my previous approach had to go into the .vimrc - so definite improvement!

[2017-11-29 11:13] vhda commented on #159
To be honest I don't expect to add more entries to the `'baseCluster'` list, but if I ever do that code will ignore them. That's why I went for the complex solution.

Vim's documentation is very thorough, so upping the vim game is not that hard. And contributions to this plugin are welcome! ;)

[2017-11-29 14:06] narcolepsy commented on #159
Magic - that all worked with one small tweak!

[code]

[2017-11-29 18:34] vhda commented on #159
I guess that since I have an entry for `g:verilog_syntax_custom` in my .vimrc everything worked perfectly fine on my system. But I can see why you needed that.
Well played! :)

[2018-01-04 22:31] ghilton319 commented on #112
Looks okay

[2018-01-04 22:31] #112 closed

[2018-06-12 13:16] SiliconKite opened #161 "Some more info on getting plugin to work"
Thanks for the plugin, it took me a bit to get it working though. I will add here the instructions so other noobs like me can use it if in trouble

you will need the following on your .vimrc file

[code]

[2018-07-24 23:15] vhda commented on #161
Thanks for the feedback.
Could you please run the command `:help :VerilogErrorFormat` inside your Vim and see if the help text would have helped you?
I also think that the section [Verilog Compilation and Error format](https://github.com/vhda/verilog_systemverilog.vim/blob/master/README.md#verilog-compilation-and-error-format) of the README on the main page covers both `:VerilogErrorFormat` and `m

[2018-08-11 00:34] jrudess opened #165 "Left-over g:verilog_disable_indent"
In [plugin/verilog_systemverilog.vim](https://github.com/vhda/verilog_systemverilog.vim/blob/9626ac2f6ab5546a4bfcf604af31f1e59be3922e/plugin/verilog_systemverilog.vim#L2), there is a left-over reference to g:verilog_disable_indent.  My assumption is this should be changed to g:verilog_disable_indent_lst or removed.

[2018-08-11 01:26] jrudess opened #166 "Handling of fold test cases when // comment block folding is enabled"
When enabling // comment-block folding, the folding.sv test case is impacted due to usage of // comments on the end of every line.

The new syntax definition  is [here](https://github.com/jrudess/verilog_systemverilog.vim/blob/jrudess/comment_block/plugin/verilog_systemverilog.vim#L120-L124)

And the test-case errors are like this:

    Error: level=1 level_expected=0 >>>>

[2018-08-13 02:01] jrudess commented on #166
It may be better to leave // comment-block folding out of the base syntax files, and instead an example use case for g:verilog_syntax_custom could show the regex.   Either in the README, or next to the spyglass example in the docs.

[2018-08-15 08:48] emacann opened #167 "Cover sequence adds one level of indentation"
Hi,

SystemVerilog 2009 LRM added a new cover statement:

[code]

Unfortunately, a cover sequence statement adds one level of indentation to the code:

[code]

[2018-08-19 21:48] #167 closed

[2018-08-20 07:25] vhda commented on #166
Submitted some changes that will help the test case pass in that scenario.
I've tried your comment code but it's currently conflicting with the `g:verilog_syntax_custom` used in the folding tests. Need more time to look into that.

[2018-09-29 03:24] r901042004 opened #169 "File extension of SystemVerilog Assertion"
Some verification tools, e.g. JasperGold, support SystemVerilog Assertion file extension `*.sva`,
Is there any plan adding `*.sva` to Verilog Family Source Files?

[2018-09-29 20:54] #169 closed

[2018-09-29 21:18] vhda commented on #169
This is an easy fix :)

[2018-10-01 06:33] henry-hsieh commented on #169
Thank you! haha

[2018-10-22 15:33] #165 closed

[2018-10-22 15:34] vhda commented on #165
Thanks a bunch @jrudess, I have my personal settings in vimrc, so I completely overlooked that!

[2018-10-22 15:35] vhda commented on #161
Hi @SiliconKite,
I'll go ahead and close this ticket. Feel free to reopen if necessary.
Thanks!

[2018-10-22 15:35] #161 closed

[2018-10-22 23:00] #166 closed

[2018-10-22 23:04] vhda commented on #166
I added an example to the documentation with your code.
The change you are proposing would conflict with other foldings I use daily, so I decided against it.
Basically we would be creating a syntax region for every individual line comment and this would break other syntax regions that depend on line comments (as is the example I already provided in the documentation for SpyGlass pragmas, that is a

[2018-11-22 16:32] justrajdeep opened #170 "Error 523: Not allowed here: omnifunc=verilog_systemverilog#Complete"
Hi

I have been using your plugin for a long time. Today after updating vim `8.1.542` i started getting the following error.

    || Error detected while processing
    /home/<username>/.vim/neobundle_bundle/verilog_systemverilog/ftplugin/verilog_systemverilog.vim|13|
    || E523: Not allowed here: omnifunc=verilog_systemverilog#Complete

Not sure what is causing this, can you give me some pointer

[2018-11-23 16:00] vhda commented on #170
Edited your issue to remove your username for privacy (and removed it from history).

I'm unable to replicate this in my environment, even after setting `'secure'`, which is what is supposed to trigger `E523`. One thing I have different from you is that I'm using vim-plug instead of NeoBundle. So it would help if you could try to disable NeoBundle and load this plugin manually (you can backup your

[2018-11-23 16:11] justrajdeep commented on #170
Thanks @vhda let me try to move to vim-plug over the weekend.

[2018-12-01 03:00] r901042004 opened #171 "SyntaxComplete of Verilog / SystemVerilog Keywords"
Vim has provided the [syntax completion](https://github.com/vim-scripts/SyntaxComplete).
Howerver, it uses omnifunc to complete SystemVerilog keywords, which conflict with this repo.
My solution is adding SystemVerilog keywords to dictionaray and using dictionaray completion.
Do you have better idea of this?

[2018-12-03 00:49] vhda commented on #171
Maybe you could set `'completefunc'` instead and use `i_CTRL-X_CTRL-U` when you want to use that second plugin?
Or even better, the [Supertab](https://github.com/ervandew/supertab) plugin includes a completion chaining option:

    set completefunc=syntaxcomplete#Complete
    autocmd FileType verilog_systemverilog
      \ if &omnifunc != '' |
      \   call SuperTabChain(&omnifunc, "<c-u>") |

[2018-12-03 13:42] henry-hsieh commented on #171
I use `completefunc` in replacement of `omnifunc` and use following vim script:
[code]
Because syntax group name of verilog_systemverilog are beginning with verilog, e.g., verilogStatement,
you need to set [g:omni_syntax_group_include_{filetype}](https://github.com/vim-scripts/SyntaxComplete/blob/master/plugin/syntaxcomplete.vim#L15) beginning with verilog.

However, using Supertab will cause some

[2018-12-11 09:46] #159 closed

[2019-01-28 04:28] Luffy4321 opened #172 "ALE"
when I use ale and verilog_systemverilog，ALE cannot work。but they can work in independently。

[2019-01-28 04:28] Luffy4321 opened #173 "ale"

[2019-01-31 09:52] MasayaSym opened #174 "Sorry but i cant use my syntax folding, i want to know why..."
sorry but I can't use my syntax folding, as a novice I don't know why...
1) I can use syntax folding in *.cpp files after adding "set fdm=syntax" to ~/.vimrc
2) In *.sv files, I set the "g:verilog_syntax_fold_lst", and try "VerilogFoldingAdd xxx" command to add args to this var, it's ok, but nothing happens when I press "za" at the line I want to fold.
look forward to your reply, thx a lot

[2019-02-07 22:07] vhda commented on #171
Did you end up choosing any solution that you might want to share for other people to use?

[2019-02-07 22:08] #173 closed

[2019-02-07 22:25] vhda commented on #172
Have you tried the following:

     let g:ale_linters = {'verilog_systemverilog' : ['verilator'],}

[2019-02-07 23:40] vhda commented on #174
Changing `g:verilog_syntax_fold_lst` may require a reload of of the file.
Please try setting it to "all" in your vimrc, as well as `fdm` to "syntax" and open a verilog file.
Setting `foldcolumn` to 3 or 4 should show you a visual cue to where folds exist.

[2019-02-08 00:40] MasayaSym commented on #174
thank you! i make it.

[2019-02-08 00:40] #174 closed

[2019-02-08 22:17] vhda commented on #174
Hope I've helped and sorry for taking so long to reply.

[2019-02-22 03:16] henry-hsieh commented on #171
I think dictionary completion is a good solution.
Add following statement in .vimrc to enable dictionary completion.
[code]
The contents of these files are very simple.
![default](https://user-images.githubusercontent.com/22725367/53217518-38a5e780-3693-11e9-9403-c279251a2982.png)

[2019-02-22 14:03] jeinstei opened #175 "Plugin Load Order"
I'm finding that the g:verilog_syntax isn't being loaded until later in my vim initialization, as "plugin" comes after many other of the folders. How should this be dealt with?

[2019-02-24 13:02] vhda commented on #175
Could you share the error you get because of this?

[2019-02-24 13:03] vhda commented on #171
Thanks for sharing!

[2019-02-24 13:03] #171 closed

[2019-02-26 19:20] jeinstei commented on #175
Sure! This is with vim 7.2.411. Running `:scriptnames` I get the following:

[code]

The error is listed below:

[code]

[2019-02-27 10:31] emacann opened #176 "Clocking blocks are not indented"
Currently, the clocking blocks are not indented at all:

[code]

What I propose is instead:
[code]

[2019-02-27 12:21] vhda commented on #175
How are you loading the plugins? Do you set the syntax in your .vimrc?

[2019-02-27 14:17] jeinstei commented on #175
I'm just linking the plugin in .vim/plugins. I am not using a package manager right now. My .vimrc has nothing special in it. It is very possible I'm missing an install step somewhere.

[2019-02-27 17:32] jeinstei commented on #176
So this is based on 2 spaces, 4 spaces, or tabs? Would this be using the user's setting for tab styling?

[2019-02-27 17:35] jeinstei commented on #104
I must admit to not being a fan of this by default. Would this be indented with reference to the current indent level, or only if not indented?

[2019-02-27 17:45] ecanessa commented on #176
The indentation style depends on what the user has configured, I've used 2 spaces for this example only

[2019-02-27 18:43] vhda commented on #175
Could you please provide more details on how the linking was done? I think that the problem might lie there.

[2019-02-27 18:46] jeinstei commented on #175
Sure-- I have several other plugins running the same way. I have all my plugins in a folder in my personal space. The links can be seen below. Links created using `ln -s`. Vim version 7.2.411.

[code]

[2019-02-27 18:47] vhda commented on #104
Such indentation could always be disabled using `g:verilog_disable_indent_lst`.
All indentations are increments of the current level. That is, every line after `` `define`` would be indented one extra level when compared to the initial line, until the end of the `` `define``.

[2019-02-27 19:01] jeinstei commented on #104
Fair enough. Multi-line defines being indented makes sense. I misread the original intention.

[2019-02-27 21:48] vhda commented on #176
Should be fixed in master branch.
Indentation follows `&shiftwidth` setting. There are two options if a different value is desirable in Verilog files:
 1. Use an `autocmd` to override `&shiftwidth` for verilog_systemverilog file type.
 2. Use `g:verilog_indent_width`, which will be used by this plugin only.

[2019-02-27 21:48] #176 closed

[2019-02-27 21:50] vhda commented on #175
Do you have any runtime commands in your .vimrc?
You have two options to install a plugin in Vim:
 1. Copy everything into  ~/.vim/, maintaining the same directory structure.
 2. Have the plugin in a dedicated folder and add a runtime command to your .vimrc.

I really feel like you should consider using a plugin manager for Vim, which will make this automatically for you. Personally, I suggest vim

[2019-02-28 13:33] jeinstei commented on #175
Ah. I see what happened here-- plugin vs other files. Completely my fault. vim-plug works for this, so I'm up and running.

[2019-02-28 13:33] #175 closed

[2019-03-03 09:08] kdurant opened #177 "Can add highlight for UVM?"
I hope to add this feature if possible.

Thanks for your job!

[2019-03-04 02:57] kdurant opened #178 "Can set indent like below?"
Now default indent is
[code]
I want this:
[code]

[2019-03-04 20:29] vhda commented on #178
let g:verilog_disable_indent_lst="module,eos"

This does it, but it affects more than just the module declaration. Please test it and tell me if it is acceptable.

[2019-03-05 00:34] kdurant commented on #178
It no effect.
I fork and change
[code]
to
[code]

[2019-03-06 01:17] #178 closed

[2019-03-06 01:19] vhda commented on #178
I was using `=` to indent the example you provided, but today I noticed that the behavior was not what I expected in Insert mode. This is fixed in master.

All test cases are passing, so let's hope the code wasn't there for a reason not included in the tests! :)

[2019-03-06 01:30] vhda commented on #177
At the moment I'm not working in UVM, so I'm not the right person to work on that.
Could I kindly ask you to checkout `:help g:verilog_syntax_custom` and use this to add the necessary support for UVM? If possible, share the final solution so that I can include it in the plugin.
Thanks!

[2019-03-06 04:22] #177 closed

[2019-03-06 11:22] vhda commented on #177
Sorry for not being more helpful this time.

[2019-03-06 15:07] misakisuna705 opened #179 "or gate indent"
macOS 10.13.6
vim 8.1.950

I use vim-plug to install with no other setting in my .vimrc, and use vim-autoformat to format .v file.
However, there is some wired indent.

partial code

![2019-03-06 10 59 33](https://user-images.githubusercontent.com/40533309/53890973-492b6a00-4064-11e9-9191-23ea6a3c412f.png)

partial .vimrc

Plug 'vhda/verilog_systemverilog.vim',{'for':'verilog_systemverilog'}
Plug

[2019-03-06 23:11] #179 closed

[2019-03-11 03:38] cqhdxx commented on #174
how to set “g:verilog_syntax_fold_lst" in .vimrc

let g:verilog_syntax_fold_lst

or

[2019-03-12 06:14] cqhdxx opened #180 "how to enable Omni-completion"
When I generate the tags with ctags from the help doc:
1. Module instantiation port names.
2. Function/task arguments.
3. Object methods and attributes.

In order to use omni completion a tags file must be generated using the
following arguments:

* `--extra=+q` - Enable hierarchy qualified tags extraction.
* `--fields=+i` - Enable class inheritance extraction.
* `-n` - (Optional) Use line number

[2019-03-14 23:28] vhda commented on #180
Are you using `CTRL-X_CTRL-O` to invoke omni-completion?

[2019-03-18 09:01] cqhdxx commented on #180
I use a  . character to invoke omni-completion, it's doesn't work. When press CTRL-X_CTRL-O, the status bar display "Omni completion (^O^N^P) Pattern not found"

[2019-03-20 21:15] vhda commented on #180
Go inside this plugin, into "test" folder.
Open "test.v".
Go to end of line 12 and try invoking omni completion.

[2019-03-21 02:51] cqhdxx commented on #180
Follow your instructions and press CTRL-X_CTRL-O, and I can achieve automatic completion. And press a . character it's doesn't work.
Is the omni-completion only work for Module instantiation?

[2019-03-23 22:43] vhda commented on #180
The limitations of the current implementation of omni completion are described in both README.md and Vim's internal help: `:help verilog-omni`.
I also suggest that you read the part about supertab included in the README.md file.

[2019-03-29 11:16] vhda opened #182 "Include context description in omni completion"
Include property/method type in omni completion drop down menu.

[2019-05-31 10:02] toastedcornflakes opened #183 "Line comment with a comma highlight as code"
Hello!

The following snippet gets the wrong colour after the comma, as if the line-comment was ended by the comma.

[code]

![comment_vim](https://user-images.githubusercontent.com/6625812/58698603-7356a480-8393-11e9-936e-47e2ccaec7f8.PNG)

How can I debug this further?
Many thanks

[2019-06-06 14:30] #183 closed

[2019-06-06 14:57] vhda commented on #183
I had a commit laying around that apparently fixes this.
Would you be so kind a confirm that this is fixed?

[2019-06-07 06:55] vhda commented on #180
Any updates?
Did the documentation help?

[2019-06-26 06:08] leixianb commented on #180
I have the same problem. And I read the doc, tried to fix it, but failed. sentence in Readme.md: " This will only work if a . character is found in the keyword behind the cursor" is not easy to understand. could you please give an example?

[2019-07-02 20:46] vhda commented on #180
Sorry for the late reply.

Could I ask you to make the same test as I asked @cqhdxx ?

That is, pressing CTRL-X_CTRL-O in insert mode after the '.' at the end of line 12.

[2019-07-04 05:43] cqhdxx commented on #180
@vhda Sorry for the late reply, It's really helpful for me to use this vimscript.

[2019-07-09 21:19] antoinemadec opened #184 "'import "DPI" function ' breaks indentation"
The following kind of syntax breaks the indentation since it expects a endfunction:
[code]

[2019-07-21 11:41] toastedcornflakes commented on #183
Brilliant, it's indeed fixed. Many thanks, and sorry for the late reply, I somehow missed the notification. Thanks again!

[2019-07-26 20:30] #184 closed

[2019-07-26 21:36] vhda commented on #180
@cqhdxx did my instructions work?

[2019-08-15 18:51] Moguri opened #186 "Commas in strings break syntax highlighting"
When there is a comma in a string, syntax highlighting breaks for me. For example, this code:

[code]
renders as this:

![sv_syntax_comma](https://user-images.githubusercontent.com/1008108/63118228-4eb1a800-bf52-11e9-80ad-3f60a684e410.PNG)

This is with the latest master at the time of writing (b397068789f1844ef28e207a4efc03f157874f80).

Vim version info:
[code]

[2019-08-16 07:10] puxiancheng opened #187 "the keyword endmodule is not highlight"
when i open a .v file though vim, i type G go to the end of the file, the keyword endmodule is not highlight.
if i type ctrl+f go to the end of the file, the keyword endmodule is highlight.

[2019-08-25 16:41] vhda commented on #187
Hi @puxiancheng,

Please try adding the following to your vimrc:
[code]
This will make vim always defines syntax by parsing the complete file. Unfortunately, I expect that this will make the syntax parsing slower because it has to parse more items. But test to see if it becomes too slow or not.

[2019-08-25 16:49] #186 closed

[2019-08-25 16:49] vhda commented on #186
Hi @Moguri,

Please confirm if the latest version fixes your issue.
Thanks!

[2019-09-06 02:57] puxiancheng commented on #187
thanks!!!
it works, and it does not become too slow.

[2019-09-06 02:57] #187 closed

[2019-09-06 15:03] Moguri commented on #186
I can confirm that the latest version fixes the issue. Thanks!

[2019-10-13 22:44] antoinemadec opened #188 "remove g:tagbar_type_verilog_systemverilog"
The definition of **g:tagbar_type_verilog_systemverilog** overrides user's definition of it.
Would it be possible to remove it?

In my case, I don't want to use the universal Ctags, the exuberant Ctags are enough for me.
However, since _verilog_systemveriog_ overrides **g:tagbar_type_verilog_systemverilog**, I cannot use _tagbar_.

I think this should be added in the doc (which it is on _tagbar_ W

[2019-10-21 22:41] vhda commented on #188
Hi @antoinemadec I keep forgetting to take care of this, sorry. Will try to do it tomorrow.

[2019-10-22 22:16] vhda commented on #188
Please check Pull Request #189

[2019-10-27 23:28] vhda commented on #188
Fixed in #189

[2019-10-27 23:28] #188 closed

[2020-01-22 17:09] engr248 opened #190 "Intendation at end of medium-large files is slow"
On a decent sized file of SystemVerilog, the indentation performance slows down considerably towards the end of the file. I noticed this on an SV file that's ~1800 lines long and primarily consists of instantiations of other modules (it's the top level of an SoC instantiating a processor and peripherals).

When working near the top of the file, inside the module, the autoindent performance is acce

[2020-01-28 15:50] vhda commented on #190
Give me some time to look into this (currently swamped in work and personal life :)

[2020-03-07 18:50] vhda commented on #190
Could you please try the branch [indent/stop_at_instance](https://github.com/vhda/verilog_systemverilog.vim/tree/indent/stop_at_instance)?

I'm storing the indent level of `);` and using it if I then find a `.something` preceding it.

[2020-03-07 19:36] vhda commented on #180
Marking as resolved. Please feel free to reopen if necessary.

[2020-03-07 19:36] #180 closed

[2020-03-07 19:36] vhda commented on #172
Any updates?

[2020-03-07 19:37] vhda commented on #170
Assuming everything worked out.
Please reopen if necessary.

[2020-03-07 19:37] #170 closed

[2020-03-09 18:54] deo248 commented on #190
It's definitely faster, but the the current state of the indent/stop_at_instance branch does not produce the same results as master for me.

Example:
[code]

On master, if I am on the end of the last `);` in insert mode and hit enter it will churn for a few seconds and then put the cursor on the next line at indent level of 4 spaces (as previously reported).

On indent/stop_at_instance, if am on t

[2020-03-09 18:54] deo248 commented on #190
I appreciate the work and am glad to test out again as needed!

[2020-03-09 21:28] vhda commented on #190
Could you please try again?

[2020-03-13 05:09] Strongsaxophone opened #191 "Unhighlighted pin after linebreak (\n)"
Consider having a module :
 alu ALU(.in(), .in1(), .operation(),
               .out());
the .out() is not highlighted.
You can also view [this](https://ibb.co/j3HWPdF) picture to get what I mean.

[2020-03-22 01:02] vhda commented on #191
Hi @Strongsaxophone,

You stepped on a syntax bug, which I never noticed before because I always separate the port name from the parentheses. The bad news is that my intention was to **not** highlight port names.
The ports are currently being highlighted using the verilogMethod syntax item that was created to highlight function and task calls in the form `object.function()`. As a side benefit, I'v

[2020-03-22 11:49] ali-rnik commented on #191
Hello @vhda,
I will change that for myself with g:verilog_syntax_custom . I think that's a good idea to have pins in another color different from module instances.
Best Regards.

[2020-03-24 13:53] vhda commented on #191
I'm open to improvement suggestions, so let's keep this open. Free time is not much lately, but I'll take this into account while fixing the bug you uncovered.
Are you ok with the current highlight, or would you prefer another "color type"?

[2020-03-24 15:32] ali-rnik commented on #191
To be honest I have no idea how hard it ( I do not know vim scripting) is to change colors of different parts of Verilog code, But as I see there are three kind of pins which is a good idea to have different colors :
1. parameters ( which is not hard to identify as it is in #() block, )
2. instance names
3. instance pins

So it is a good idea that different pins ( 3 types pointed above),  has diff

[2020-03-31 15:19] deo248 commented on #190
Ahha! That branch now shows correct and quick behavior for me. With verbose on the messages show it returning the correct indent level of 4 for my test case as well.
Cheers, and thanks!

[2020-04-01 22:55] #190 closed

[2020-04-01 22:56] vhda commented on #190
Merged. Cheers!

[2020-04-20 16:17] justrajdeep opened #193 "issue with syntax hilight with inline/multi-line comments"
Hi

This plugin is amazing. I cannot thank you enough.

I see only a trivial issue with syntax highlight.

    /* uvm_analysis_port #(REQ) mon_analysis_port;  //TLM analysis port */

if i have something like the above line; it misses the multi line comment closure(`*/`) because of the inline comment(`//`).

Can you please take look?

[2020-04-27 12:16] kirsa commented on #193
Also seeing this issue. Would really appreciate any pointers on how to resolve this.

[2020-04-27 12:38] kirsa commented on #193
My local fix for this is in ~/.vim/bundle/verilog_systemverilog.vim/syntax/verilog_systemverilog.vim add the following after line 357 :
syn region verilogComment start="/\*" end="/*\"

[2020-04-27 21:30] vhda commented on #172
I've recently delved into ALE and can confirm that Linters are working out of the box in verilog_systemverilog.

[2020-04-27 21:30] #172 closed

[2020-04-27 22:16] #193 closed

[2020-04-27 22:17] vhda commented on #193
Could you please try again?

[2020-04-28 11:49] kirsa commented on #193
Works for me, thanks!

[2020-05-08 13:09] enots1010 opened #196 "Highlight issue with systemverilog: if : else if : else/else if"
I saw there is a solution working for highlighting of following structure:
if
else if
else

I was using the suggested way desribed here:
https://github.com/vhda/verilog_systemverilog.vim/issues/121#issuecomment-252964308

However this is not entirely working.

In some cases the "else" in the end is not present. The construct is only consists
of

if
else if

unfortunately this is not highlighted wh

[2020-06-11 06:37] BharadwajSP opened #199 "Demo Request"
Hi,
   This is absolute must-have plugin for Verification engineers. I could not find any demo of all the features available in it. it will be a great help for newcomers to take advantage. please point to me if anything available elsewhere.

thanks
Keshava

[2020-06-12 22:45] vhda commented on #199
Hi Keshava,

What kind of demo would you be looking for?
Most of the information available on this plugin is in its [README.md](https://github.com/vhda/verilog_systemverilog.vim/blob/master/README.md) and the included Vim help text (`:help verilog_systemverilog.txt`). Is this not sufficient?

Best regards,
Vitor

[2021-01-16 16:28] prwang opened #201 "Verilator error format changed."
The default error format does not work for verilator version 4.106 (from MSYS2 repository).  Now the error string contains an column number :
`%Error: example.v:32:27: syntax error, unexpected or, expecting ',' or ';'`
So the column must be matched
 `CompilerSet errorformat=%%%trror%.%#:\ %f:%l:%c:\ %m`
 or the vim will try to open a file called `example.v:32` which does not exist at all.

[2021-01-16 18:58] #201 closed

[2021-01-16 18:59] vhda commented on #201
Hi @prwang,
Could you please confirm if the merged commit resolves this issue?
Thanks!

[2021-02-25 01:07] brayden-jo opened #203 "default indent (question)"
Thank you for making a good plugin.
I have a simple question, I review the document but I didn't find a proper solution yet.

This plug-in seems to use default 4-space of indent.
Can I turn-off this feature ?
We usually the coding style which starts with column 0. Please check below two coding style.

[code]

[code]

[2021-02-25 02:23] brayden-jo commented on #203
I added below line to .vimrc but it does not works.

[code]

[2021-02-27 22:23] vhda commented on #203
Hi @brayden-jo,

That should work exactly as you need if you also include "eos" in the comma separated list.
And the plugin will follow by default your `'shiftwidth'` setting.
This what I get with `set sw=2` and `let g:verilog_disable_indent_lst="eos"`:
[code]

This what I get with `let g:verilog_disable_indent_lst="eos,module"`:
[code]
Please try disabling other plugins and/or settings that could

[2021-02-28 15:55] thuyng88 opened #204 "Rainbow 'begin/end' Support"
Thanks for the awesome plugin. I've tried to match begin/end with matching colors just like rainbow plugin does for parentheses.
![image](https://user-images.githubusercontent.com/57820377/109424725-818f8580-79aa-11eb-9d63-c17b903f5abf.png)
However even I changed the parentheses setting in rainbow it still doesn't work
![image](https://user-images.githubusercontent.com/57820377/109424776-d03d1f80-

[2021-03-02 09:35] brayden-jo commented on #203
@vhda ,
Thanks you for your reply.

When I set the below setting within the vim, it works well.

let g:verilog_disable_indent_lst = "module,class,interface"

But as I mentioned before, it doesn't work with .vimrc file.
I delete all plugins and use the simplest .vimrc as below:

[code]

Currently I use the this command in the vim to apply the `let g:~~~~` configure.

source ~/.vimrc

I am using the

[2021-03-02 19:52] vhda commented on #203
Instead of sourcing vimrc just open vim and run the following command:

[code]
Does this show the value you defined in the vimrc?
Then try opening a verilog file and check this command again.
Could you also confirm the filetype value in the verilog file?
[code]

[2021-03-04 00:58] brayden-jo commented on #203
@vhda ,
when I run the vim and run the following command:

[code]

default options is shown as below

[code]

let g command in .vimrc doesn't seem to work.

when i run the `:set filetype`, I can see the 'filetype=verilog systemverilog'

Thanks.

[2021-03-04 07:45] brayden-jo commented on #203
![Screenshot from 2021-03-04 16-44-50](https://user-images.githubusercontent.com/23475470/109928617-fb0bd880-7d08-11eb-953f-42ca26472e24.png)

[2021-03-08 21:16] vhda commented on #203
Hi @brayden-jo,
Sorry for the delayed reply.

Are you saying that `g:verilog_disable_indent_lst` variable does not work in .vimrc. But what about setting it dynamically? That is, if you open a Verilog file and set this variable, do you see indentation start to work correctly?
I'm running out of ideas. Everything looks good and it should be working!

[2021-03-08 21:50] brayden-jo commented on #203
<img width="730" alt="vim" src="https://user-images.githubusercontent.com/23475470/110386294-74a61c80-80a3-11eb-8e43-d2f82daf7c2a.png">

@vhda ,

dynamically setting doesn't work too for the *v/sv file.
For reference, my colleague using centos7 also shows the same problem.

Is there any workaround to fix the plugin directly?

"module,class,interface" is the default list for the our coding style.

[2021-03-08 22:59] vhda commented on #204
I can't find a way of disabling this highlight on my side, as it is.
I've looked at some of those rainbow plugins and some have an "after" option that could be used to overcome this. Could you give it a try?

[2021-03-21 10:01] yosemitescott opened #205 "How can I set things to indent like this?"
Thanks for creating such a great plugin!

I recently changes jobs where my old setup had an ancient vim setup where I had tweaked the indent of whatever I had been using to be able to indent like the following (please forgive the missing elements to make this legit code):

[code]

Now I use neovim with this fantastic plugin but usually I need to shift things around as the following is how things a

[2021-03-21 21:30] vhda commented on #203
I've just tried on my side with a clean .vimrc and everything is working as expected. I can try it in CentOS during this week just to confirm, but I'm really confident that shouldn't be the issue.
Using the example file above, try the following:
[code]
This will indent the complete file.
This is the result with default settings:
![image](https://user-images.githubusercontent.com/606876/111921402-4

[2021-03-21 23:06] vhda commented on #205
Did some initial work to support that by including a new keyword for `g:verilog_disable_indent_lst` "standalone". Could you please checkout the branch indent/standalone_blocks and give it a try?
Thanks!

[2021-03-23 09:06] yosemitescott commented on #205
Wow thanks for the quick branch on this!  It's almost there... the assertion of "standalone" is off though.  Things align as before with "standalone" set but do align as expected when "standalone" is not set, which is opposite of what you probably intended.

I tried a few other things and maybe these are a different area then what "standalone" is addressing.  Is there a way to indent after similar

[2021-03-24 23:18] vhda commented on #205
That is intentional because the variable defines the list of indents we want to *disable*, so it has inverted behavior. I've included it in the default list, but you noticed it because you have this list in your vimrc. The problem is that most people will have that also and will not be aware of this change. I'll have to resolve that before merging.

Apparently there were some missing keywords for

[2021-03-25 18:17] yosemitescott commented on #205
Sounds good about the variable defines... I was just thinking of user impact if they set up the disable list like you mentioned.

When I first checked this out, I thought I saw the begin indents working wrt the case construct.  I starting editing something today and it's not working.  Maybe I imagined it working beforehand but now it looks like there is no difference with the standalone option eit

[2021-03-25 23:58] vhda commented on #205
Could you provide some examples of what's still broken?

[2021-03-26 08:10] yosemitescott commented on #205
Sure.... I copied the example I first posted and ran it thru the filter motion (=) and got this with let g:verilog_disable_indent_lst ="module,eos":

[code]

[2021-04-04 11:36] vhda commented on #205
Added new variable `verilog_indent_block_on_keyword` that should enable the behavior you are looking for. Please try and provide feedback.
Thanks.

[2021-04-05 19:33] yosemitescott commented on #205
After "let b:verilog_indent_block_on_keyword = 1", I got this when I ran the example thru the filter motion:

[code]
As you can see, all of the end keywords have no ident now and the stuff under the begin in the cases were not aligned as intended.  Maybe I'm missing some other variable that I should be setting?

[2021-04-10 11:08] vhda commented on #205
I can't replicate this behavior.
Do `:let g:verilog_verbose=1` and then press == in on of those `end` keywords.
Then do `:messages` and copy&paste the result here.

[2021-04-11 06:11] yosemitescott commented on #205
I got these messages when I `==` on line 31:

SearchForBlockStart: returning l:lnum 18
Return indent to start of block keyword

[2021-04-11 22:31] vhda commented on #205
This is real strange.
I've updated the branch to increase the verbosity of the message (you may have to reset your branch). Could you share the message again?
Could you also run the following command `:echo indent(18)`?
Thanks!

[2021-04-12 17:01] yosemitescott commented on #205
Here's the message after `==` on line 31:

Output of `:echo indent(18)`:

[2021-04-15 23:31] vhda commented on #205
That looks good.
Can you do the same on line 25?

This is what I have:
[code]
The algorithm obtains the indent on line 22, which is 20, and measures the offset to `begin` keyword (12). This is a total of 32.
On my end I get the correct indent:
[code]

[2021-04-16 13:26] yosemitescott commented on #205
This is what I got for line 25:

[code]

Notice that I didn't get the "Return indent...." message.

Also:

[code]

I don't know if it makes a difference but I'm using Neovim 0.5

[2021-04-16 18:35] vhda commented on #205
Sync and run the test again.
I added a few more debug messages.

Sorry for taking so long, this behavior is really unexpected.

[2021-04-16 19:37] yosemitescott commented on #205
Ok... I updated and got these messages for line 25:

[code]

Still get 0 for indent(25)

[2021-04-16 20:35] vhda commented on #205
Run:
[code]

[2021-04-16 22:06] yosemitescott commented on #205
Interesting... I get this:

[code]

[2021-04-17 11:46] vhda commented on #205
I've removed the use of `slice()`. It should work now :)

[2021-04-18 06:31] yosemitescott commented on #205
It's getting a little closer for me.  This is what I get now with b:verilog_indent_block_on_keyword=1

[code]
The indents looks good except my ends are not indented correctly.

I do see the use of the slice function on line 131 of the indent/verilog_systemverilog.vim file:

[code]

So I'm guessing that's probably the cause.

[2021-04-18 13:53] vhda commented on #205
Oh... completely forgot about that other one...
Hopefully this is the last issue?

[2021-04-19 07:56] yosemitescott commented on #205
Sweet!!!  Thank you very much for adding this feature for me!!

[2021-05-05 14:30] tianrui-wei opened #207 "System Verilog struct and class member auto completion"
Hi Vitor,

Many thanks for your excellent work on this plugin! I was trying it, and saw that sv structs and class still can't do autocompletion. I saw issue #150 is still open and got to wonder if there's some progress after that issues open. For reference, my TAGS file was generated with the command `ctags --extras=+q --fields=+i -n -R`

Hope you're having a great time with your family!

Thanks
T

[2021-08-25 05:50] arsoc opened #208 "Coc-snippets don't trigger"
Hi,

Thanks for a great job with this plugin. As far as syntax highlighting, folding and indentation I have no issues.

But it seems that verilog_systemverilog plugin doesn't work with coc-snippets. I did some very basic diagnostics for coc and it tells that snippets have been loaded correctly. It's just that they don't show up in completion menu, although other types of completion does.

Can you,

[2021-08-28 23:49] vhda commented on #208
You'll probably need to ask coc-snippets for support, because I don't know how it works.
Are you sure you are using `verilog_systemverilog` as the filetype trigger, instead of `verilog`?

[2021-08-28 23:51] vhda commented on #207
Hi Tianrui,

Sorry for the late reply, but I missed this request.
Unfortunately, free time has not been abundant, so I've not worked on that development.

Thanks for understanding,
Vitor

[2021-08-29 07:15] tianrui-wei commented on #207
Hi vitro,

It’s no problem at all. I really appreciate you writing this reply and your already fantastic vim plug-in. Best of luck with your other duties.

Best regards,
Tianrui
________________________________
From: Vitor Antunes ***@***.***>
Sent: Sunday, August 29, 2021 7:51:57 AM
To: vhda/verilog_systemverilog.vim ***@***.***>
Cc: tianrui-wei ***@***.***>; Author ***@***.***>
Subject: Re: [vhd

[2021-08-29 10:00] arsoc commented on #208
Thanks for a quick reply.
Yeah, I've checked the filetype and it's set to `verilog_systemverilog`.
Also, as I've already mentioned snippets are detected and listed in `:CocList sources` command output but not triggered. It seems like something in `verilog_systemverilog` plugin conflicts with coc.nvim completion.

[2021-08-29 10:42] vhda commented on #208
On line 12 of file `ftplugin/verilog_systemverilog.vim` I'm setting `'omnifunc'`, which may interfere with COC. Could you please try commenting out that line and see if it improves anything?
If this is the source of the problem I can easily add an option to disable this feature.

[2021-08-30 10:18] arsoc commented on #208
Tried this one but with no luck.
While doing some extra tweaking I noticed that snippets work when filetype is `systemverilog`, but not `verilog_systemverilog`. So, I extended snippets for `verilog_systemverilog` filetype with `systemverilog` filetype:
[code]
Everything works now with this quick workaround. Thanks for your time!

[2021-08-30 10:18] #208 closed

[2021-08-30 22:08] vhda commented on #207
Let me leave this open as a reminder.

[2021-09-06 14:22] #203 closed

[2021-11-16 07:49] netvolcano commented on #204
Try to add the following lines into you rainbow setting (i.e. put them into `let s:rainbow_conf = {...}` )
[code]

[2021-11-16 09:41] netvolcano commented on #203
I had the same issue and found a way to solve it. I suggest to add the following lines in the `plugin\verilog_systemverilog.vim`. When I put my setting the `.vimrc` file, this following statements will not overwrite my setting.

[code]

[2022-02-14 23:38] vineyg opened #209 "Can I get this indent? if yes what settings do I need to use..."
What I want is:

[code]

what I am getting by default is (set shiftwidth=2):

[code]

[2022-02-26 17:54] vhda commented on #209
Hi @vineyg,

While not exactly as in your example, by default the script should indent as following:
[code]
Please confirm that you have set `'autoindent'` Vim setting, which is required for automatic indentation to work.

Cheers,
Vitor

[2022-02-28 22:39] vineyg commented on #209
I did but still doesn't work the way you are describing
set autoindent
in .vimrc

[2022-02-28 23:00] vineyg commented on #209
I am running zsh shell not bash, does it have to do anything with that

[2022-03-01 11:17] vhda commented on #209
What does it show when you run `:set filetype`?

[2022-03-01 18:39] vineyg commented on #209
verilog_systemverilog

[2022-03-01 18:45] vineyg commented on #209
If I use operation end of the line it works fine:

[code]

but I would like to use the operator at the beginning...

[2022-03-11 00:11] vhda commented on #209
Don't understand why you're getting different results than me.
Let's try the following:
[code]
Then select those 5 lines and press `=`.
Finally, copy&paste the contents of the window after you run:
[code]

[2022-03-11 20:04] vineyg commented on #209
When I wrote code it shows as:

[code]

When I select 5 lines and press =, it gets updated to

[code]

Following are the messages:

[code]

[2022-03-21 22:28] vhda commented on #209
Branch [indent/indent_assign_on_symbol](https://github.com/vhda/verilog_systemverilog.vim/tree/indent/indent_assign_on_symbol) was created to add a new option to enable the behavior you expected. Please test it and report back.

[2022-03-22 06:22] vineyg commented on #209
this is what I get when I type same code:

[code]

and when I select text and press = it changes to

[code]

[2022-03-23 22:27] vhda commented on #209
What does this show?
[code]
Also, have you tried disabling all addons except this one?

[2022-03-24 05:29] vineyg commented on #209
What addons are you referring to?

[2022-03-24 09:19] vhda commented on #209
I am unable to replicate your behavior, so I'm suspecting it's either a difference in vim's settings or a plugin that's modifying the indent behavior.
For the first possibility I am trying to confirm that your `indentexpr` setting is correct. For the second the only way is to remove all plugins, except this one.

[2022-03-29 07:04] vineyg commented on #209
`:set indentexpr?`

shows

indentexpr=GetVerilogSystemVerilogIndent()

and I don't think I am using any other plugin...

[2022-04-09 07:39] carpetaa commented on #146
Finally...found solution here. Newbies would be very thankful if you add
`let g:verilog_syntax_fold_lst = "all"`
to the README.

[2022-09-11 15:26] aggressivemonk opened #214 "Syntax folding doesn't work"
syntax folding doesn't work for my verilog file. It can't find where to fold, when I run `set foldmethod=syntax` (syntax folding does work for my C file.)

`
module ripple_carry_counter(q, clk, reset);

    output [3:0] q;

    input clk, reset;

    T_FF tff0(q[0], clk, reset);
    T_FF tff1(q[1], q[0], reset);
    T_FF tff2(q[2], q[1], reset);
    T_FF tff3(q[3], q[2], reset);

endmodule

module

[2022-09-11 15:32] microway199x opened #215 "neovim 0.72， 1st open .v file, variable g：verilog_syntax can not find error as below"
when use neovim 0.72， 1st open .v file， the variable, g:verilog_syntax can not find error as below, any one can fix it??

![图片](https://user-images.githubusercontent.com/109809533/189535914-86b36e3f-c24b-4d5b-82e8-f290d36d174c.png)

[2022-09-11 20:34] vhda commented on #209
Hi @vineyg,
Completely forgot about this issue, sorry.
Do you have any updates?

[2022-09-11 20:44] vhda commented on #214
Going to submit a documentation (README.md) update that I had here laying around since May... Hopefully it will help you resolve the issue.

[2022-09-11 20:46] #214 closed

[2022-09-11 21:03] vhda commented on #215
Hi @microway199x,
I'm pretty sure something is broken in how you are setting up plugins in your Neovim configuration.
I've just installed Neovim and setup its init.vim to load my .vimrc and did not find any issues.

[2022-09-11 21:39] vineyg commented on #209
Still same issue as mentioned above

[2022-09-11 23:13] #205 closed

[2022-09-12 00:36] vhda commented on #209
On the third line you have a dollar (`$`) instead of an ampersand (`&`).

[2022-09-12 01:45] microway199x commented on #215
thanks vhda reply：
I think I know why fails now；

my case scenario: in windows 10, add quick open menu @ mouse right-click menu (regedit command: path/nvim-qt.exe %1), then open  .v file with right-click;

for Nvim load file sequence different from GVIM, so Gvim work pretty, but Nvim work with error alarm;

global variable g:verilog_syntax defined @plugin/verilog_systemverilog.vim file ,but the ex

[2022-09-12 04:47] vineyg commented on #209
That might be a typo but irrespective the behavior remains same. When you
use this extension, what output you get?

On Sun, Sep 11, 2022 at 5:36 PM Vitor Antunes ***@***.***>
wrote:

[2022-09-12 07:27] vhda commented on #215
Loading the plugin folders first is the normal vim behavior, to which I'm pretty sure neovim is compatible. How are you loading the plugins?

[2022-09-12 08:15] microway199x commented on #215
For all plugins I used， I just put it @. appdata/nvim  folder.
 For neovim just copy all files under vimfiles/ direct.
if sequence loaded is right， the error is nonlogical.

Personally，put some code to ftplugin and make it work right first. maybe for other user， it work correct.

thanks

[2022-09-12 09:00] vhda commented on #209
I get this by default:
[code]
And with `g:verilog_indent_assign_on_symbol=1`:
[code]

[2022-09-12 18:48] vhda commented on #215
I was wrong: https://neovim.io/doc/user/starting.html#initialization
Apparently Neovim uses a different initialization order, where ftplugin and syntax are loaded before plugins.
I'll need some time to see what would be the best approach here.

[2022-09-12 23:36] vhda commented on #215
I'm unable to reproduce the errors you are seeing.
This is my script load order, with only this single plugin in nvim local config:
[code]
The ftdetect and plugin folders are the first to be loaded, and only at the end (after the buffer is loaded, I assume) will the remaining folders be loaded.
Could you try opening the Verilog file with nvim -u NONE?

[2022-09-17 23:11] #215 closed

[2022-09-17 23:12] vhda commented on #209
Have you confirmed these results?

[2022-10-04 14:17] kiranreddi opened #221 "Not working in version 8.2"
Hi, it was working fine till I moved to the latest vim version 8.2. After moving to this version syntax stopped working. Any info if we have to do anything more to make it work?

thanks

[2022-10-13 23:32] vhda commented on #221
Hi @kiranreddi,
I've been using it successfully with Vim 9, so either this was a temporary bug in Vim, or something else changed.

[2022-11-19 23:49] pat-lall commented on #209
@vhda I tested and confirmed your results.  I see the same behavior as you.

[2022-11-20 00:38] #209 closed

[2022-11-20 00:39] vhda commented on #209
Thanks @pat-lall